<p>Hey <%= @business.first_name %>,</p>

<p>Joe, founder of RailsDevs here. A quick reminder that your subscription will renew on <%= l(@renewal_date, format: :long) %>.</p>

<p>Already hired someone? Congratulations! <%= link_to "Fill out this form ", new_businesses_hiring_invoice_request_url %> and I’ll send you info on next steps.</p>

<p>If you’re still looking then hit reply or <%= link_to "schedule a call", "https://savvycal.com/joemasilotti/RailsDevs" %> and I’ll help find a new batch of candidates.</p>

<%= render "shared/signature" %>
