<h2 class="sr-only"><%= t(".title") %></h2>
<div class="space-y-5 divide-y divide-gray-200">
  <%= render RenderableComponent.new("space-y-3") do %>
    <%= render Developers::SearchStatusComponent.new(developer) %>
  <% end %>

  <%= render RenderableComponent.new("space-y-5 pt-4") do %>
    <%= render RoleTypes::Component.new(developer.role_type) %>
  <% end %>

  <%= render RenderableComponent.new("space-y-5 pt-4") do %>
    <%= render RoleLevels::Component.new(developer.role_level) %>
  <% end %>

  <%= render Users::PaywalledComponent.new(current_user, developer, size: :large, public_key:) do %>
    <%= render RenderableComponent.new("space-y-3 pt-4") do %>
      <%= render ExternalLinkComponent.new(developer.website) %>
      <%= render SocialLinkComponent.new(developer.github, :github) %>
      <%= render SocialLinkComponent.new(developer.gitlab, :gitlab) %>
      <%= render SocialLinkComponent.new(developer.linkedin, :linkedin) %>
      <%= render SocialLinkComponent.new(developer.stack_overflow, :stack_overflow) %>
      <%= render SocialLinkComponent.new(developer.twitter, :twitter) %>
      <%= render SocialLinkComponent.new(developer.mastodon, :mastodon) %>
    <% end %>
  <% end %>

  <%= render RenderableComponent.new("space-y-3 pt-4") do %>
    <%= render Locations::Component.new(developer.location) %>
    <%= render Locations::TimeZoneComponent.new(developer.location) %>
  <% end %>

  <%= render RenderableComponent.new("space-y-3 pt-4") do %>
    <%= render Developers::AdminComponent.new(developer, user: current_user) %>
  <% end %>
</div>
