<li>
  <%= link_to developer, class: "bg-white hover:bg-gray-50 border-1 border-white hover:border-gray-900 px-4 py-6 shadow sm:p-6 sm:rounded-lg flex space-x-4 sm:space-x-8" do %>
    <div class="flex-shrink-0">
      <img class="h-16 w-16 sm:h-24 sm:w-24 rounded-full ring-4 ring-white sm:h-32 sm:w-32" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80" alt="">
    </div>

    <div class="self-start flex-1">
      <div class="flex items-baseline">
        <h2 class="text-lg sm:text-xl font-medium text-gray-900">
          <%= developer.hero %>
        </h2>

        <div class="hidden sm:inline-flex ml-auto flex-row-reverse items-center text-gray-400">
          <% if developer.available_on <= Date.current %>
            <span class="font-medium text-sm text-gray-900">Available now</span>
            <%= icon "solid/check_circle", class: "h-5 w-5 text-green-400 mr-2" %>
          <% else %>
            <span class="text-sm text-gray-900">
              Available in
              <time datetime="<%= developer.available_on.to_s(:db) %>"><%= time_ago_in_words(developer.available_on) %></time>
            </span>
          <% end %>
        </div>
      </div>

      <div class="mt-2 text-sm sm:text-base text-gray-700 space-y-4">
        <p><%= developer.bio %></p>
      </div>
    </div>
  <% end %>
</li>
