<li>
  <%= link_to developer, class: "bg-white hover:bg-gray-50 border-1 border-white hover:border-gray-900 px-4 py-6 shadow sm:p-6 lg:rounded-lg flex space-x-4 sm:space-x-8" do %>
    <div class="flex-shrink-0">
      <%= render AvatarComponent.new(avatarable: developer) %>
    </div>

    <div class="self-start flex-1">
      <div class="flex items-baseline break-all">
        <h2 class="text-lg sm:text-xl font-medium text-gray-900">
          <%= developer.hero %>
        </h2>

        <div class="hidden sm:inline-flex ml-auto flex-row-reverse items-center text-gray-400">
          <%= render AvailabilityComponent.new(developer: developer) %>
        </div>
      </div>

      <div class="mt-2 text-sm sm:text-base text-gray-700 space-y-4">
        <p><%= developer.bio %></p>
      </div>
    </div>
  <% end %>
</li>
