<%= render "shared/error_messages", resource: developer %>

<div class="mt-8 lg:mt-16 flex flex-col space-y-6">
  <h1 class="text-3xl font-bold leading-tight text-gray-900 mx-4 lg:mx-0">
    <%= t(".title") %>
  </h1>

  <%= form_with model: developer do |form| %>
    <div class="bg-white shadow px-4 py-5 lg:rounded-lg sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <h3 class="text-lg font-medium leading-6 text-gray-900"><%= t(".profile.title") %></h3>
          <p class="mt-1 text-sm text-gray-500"><%= t(".profile.help_text") %></p>
        </div>

        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="space-y-6">
            <div class="sm:col-span-3">
              <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= form.text_field :name, autocomplete: "name", class: field_classes(form, :name) %>
              </div>
              <p class="mt-2 text-sm text-gray-500"><%= t(".profile.name_help_text_html") %></p>
            </div>

            <div class="sm:col-span-6">
              <%= form.label :hero, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= form.text_field :hero, class: field_classes(form, :hero) %>
              </div>
              <p class="mt-2 text-sm text-gray-500"><%= t(".profile.hero_help_text") %></p>
            </div>

            <div class="sm:col-span-6">
              <%= form.label :bio, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= form.text_area :bio, rows: 3, class: field_classes(form, :bio) %>
              </div>
              <p class="mt-2 text-sm text-gray-500"><%= t(".profile.bio_help_text") %></p>
            </div>

            <div class="sm:col-span-6">
              <%= form.label :time_zone, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= form.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones, {include_blank: true}, {class: field_classes(form, :time_zone)}) %>
              </div>
            </div>

            <div class="sm:col-span-6" data-controller="file-upload" data-file-upload-visibility-class="hidden" data-file-upload-loading-class="opacity-50">
              <span class="block text-sm font-medium text-gray-700"><%= t(".profile.avatar") %></span>
              <div class="mt-1 flex items-center">
                <div class="relative">
                  <%= render AvatarComponent.new(avatarable: developer, data: {"file-upload-target": "image"}) %>
                  <div data-file-upload-target="activity" class="hidden absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    <%= inline_svg_tag "icons/outline/refresh.svg", class: "w-8 h-8 text-gray-900 animate-reverse-spin" %>
                  </div>
                </div>
                <%= form.file_field :avatar, direct_upload: true, accept: "image/png, image/jpg, image/jpeg", data: {action: "file-upload#select direct-upload:initialize->file-upload#start direct-upload:error->file-upload#error"}, class: "hidden" %>
                <%= form.label :avatar, t(".profile.change"), class: "cursor-pointer ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
              </div>
              <div data-file-upload-target="error" class="hidden bg-red-50 border-l-4 border-red-400 p-4 mt-4">
                <div class="ml-3">
                  <p class="text-sm text-red-700"><%= t(".profile.avatar_error_text") %></p>
                </div>
              </div>
            </div>

            <div data-controller="file-upload" data-file-upload-visibility-class="hidden" data-file-upload-loading-class="opacity-50" class="sm:col-span-6">
              <span class="block text-sm font-medium text-gray-700"><%= t(".profile.cover_image") %></span>
              <div class="relative">
                <%= form.file_field :cover_image, direct_upload: true, accept: "image/png, image/jpg, image/jpeg, image/gif", data: {action: "input->file-upload#select direct-upload:initialize->file-upload#start direct-upload:error->file-upload#error"}, class: "hidden" %>
                <%= form.label :cover_image, t(".profile.change"), class: "cursor-pointer absolute right-0 bottom-0 z-10 m-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>

                <%= render CoverImageComponent.new(developer: developer, data: {"file-upload-target": "image"}, classes: "rounded-md mb-4") %>
                <div data-file-upload-target="activity" class="hidden absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                  <%= inline_svg_tag "icons/outline/refresh.svg", class: "w-8 h-8 text-gray-900 animate-reverse-spin" %>
                </div>
              </div>
              <div class="flex mt-2 text-sm text-gray-600">
                <p class=""><%= t(".profile.upload_file") %></p>
              </div>
              <p class="text-xs text-gray-500"><%= t(".profile.upload_help_text") %></p>
              <div data-file-upload-target="error" class="hidden bg-red-50 border-l-4 border-red-400 p-4 mt-4">
                <div class="ml-3">
                  <p class="text-sm text-red-700"><%= t(".profile.upload_error_text") %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white shadow mt-8 px-4 py-5 lg:rounded-lg sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <h3 class="text-lg font-medium leading-6 text-gray-900"><%= t(".work_preferences.title") %></h3>
          <p class="mt-1 text-sm text-gray-500"><%= t(".work_preferences.help_text") %></p>
        </div>

        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="space-y-6">
            <fieldset>
              <legend class="text-base font-medium text-gray-900"><%= t(".search_status.title") %></legend>
              <div class="mt-4 space-y-4">
                <div class="flex items-start">
                  <div class="h-5 flex items-center">
                    <%= form.radio_button :search_status, :actively_looking, class: "focus:ring-gray-500 h-4 w-4 text-gray-600 border-gray-300" %>
                  </div>
                  <div class="ml-3 text-sm">
                    <%= form.label :search_status, value: :actively_looking, class: "font-medium text-gray-700" %>
                    <p class="text-gray-500"><%= t(".search_status.actively_looking_help_text") %></p>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <%= form.radio_button :search_status, :open, class: "focus:ring-gray-500 h-4 w-4 text-gray-600 border-gray-300" %>
                  </div>
                  <div class="ml-3 text-sm">
                    <%= form.label :search_status, value: :open, class: "font-medium text-gray-700" %>
                    <p class="text-gray-500"><%= t(".search_status.open_help_text") %></p>
                  </div>
                </div>
                <div class="flex items-start">
                  <div class="flex items-center h-5">
                    <%= form.radio_button :search_status, :not_interested, class: "focus:ring-gray-500 h-4 w-4 text-gray-600 border-gray-300" %>
                  </div>
                  <div class="ml-3 text-sm">
                    <%= form.label :search_status, value: :not_interested, class: "font-medium text-gray-700" %>
                    <p class="text-gray-500"><%= t(".search_status.not_interested_help_text") %></p>
                  </div>
                </div>
              </div>
            </fieldset>

            <%= form.fields_for :role_type do |role_type| %>
              <fieldset>
                <div>
                  <legend class="text-base font-medium text-gray-900"><%= t(".role_type.title") %></legend>
                  <p class="text-sm text-gray-500"><%= t(".role_type.help_text") %></p>
                </div>
                <div class="mt-4 space-y-4">
                  <div class="flex items-center">
                    <%= role_type.check_box :part_time_contract, class: "focus:ring-gray-500 h-4 w-4 text-gray-600 border-gray-300 rounded" %>
                    <%= role_type.label :part_time_contract, class: "ml-3 block text-sm font-medium text-gray-700" %>
                  </div>
                  <div class="flex items-center">
                    <%= role_type.check_box :full_time_contract, class: "focus:ring-gray-500 h-4 w-4 text-gray-600 border-gray-300 rounded" %>
                    <%= role_type.label :full_time_contract, class: "ml-3 block text-sm font-medium text-gray-700" %>
                  </div>
                  <div class="flex items-center">
                    <%= role_type.check_box :full_time_employment, class: "focus:ring-gray-500 h-4 w-4 text-gray-600 border-gray-300 rounded" %>
                    <%= role_type.label :full_time_employment, class: "ml-3 block text-sm font-medium text-gray-700" %>
                  </div>
                </div>
              </fieldset>
            <% end %>

            <div class="mt-5 md:mt-0 md:col-span-2 space-y-6">
              <div>
                <div class="grid grid-cols-1 sm:grid-cols-3 sm:col-span-3 md:gap-6">
                  <div class="sm:col-span-1">
                    <%= form.label :available_on, class: "block text-sm font-medium text-gray-700" %>
                    <div class="mt-1">
                      <%= form.date_field :available_on, class: "shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-gray-300 rounded-md text-center" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white shadow mt-8 px-4 py-5 lg:rounded-lg sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <h3 class="text-lg font-medium leading-6 text-gray-900"><%= t(".preferred_compensation.title") %></h3>
          <p class="mt-1 text-sm text-gray-500"><%= t(".preferred_compensation.help_text") %></p>
        </div>

        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :preferred_min_salary, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  $
                </span>
                <%= form.number_field :preferred_min_salary, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :preferred_max_salary, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  $
                </span>
                <%= form.number_field :preferred_max_salary, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <%= form.label :preferred_min_hourly_rate, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  $
                </span>
                <%= form.number_field :preferred_min_hourly_rate, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
              <%= form.label :preferred_max_hourly_rate, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  $
                </span>
                <%= form.number_field :preferred_max_hourly_rate, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white shadow mt-8 px-4 py-5 lg:rounded-lg sm:p-6">
      <div class="md:grid md:grid-cols-3 md:gap-6">
        <div class="md:col-span-1">
          <h3 class="text-lg font-medium leading-6 text-gray-900"><%= t(".online_presence.title") %></h3>
          <p class="mt-1 text-sm text-gray-500"><%= t(".online_presence.help_text") %></p>
        </div>
        <div class="mt-5 md:mt-0 md:col-span-2">
          <div class="space-y-6">
            <div class="sm:col-span-3">
              <%= form.label :website, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  https://
                </span>
                <%= form.text_field :website, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>

            <div class="sm:col-start-1 sm:col-end-4">
              <%= form.label :github, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  github.com/
                </span>
                <%= form.text_field :github, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>

            <div class="sm:col-start-1 sm:col-end-4">
              <%= form.label :twitter, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  twitter.com/
                </span>
                <%= form.text_field :twitter, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>

            <div class="sm:col-start-1 sm:col-end-4">
              <%= form.label :linkedin, class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1 flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                  linkedin.com/in/
                </span>
                <%= form.text_field :linkedin, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-8 mb-16 mr-4 sm:mr-6 lg:mr-0">
      <%= form.submit t(".save"), class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
    </div>
  <% end %>
</div>
