<%= render "shared/error_messages", resource: developer %>

<div class="py-8 px-4 sm:px-6 lg:px-8">
  <%= form_with model: developer do |form| %>
    <div>
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Profile
        </h3>
        <p class="mt-1 text-sm text-gray-500">
          This information will be displayed publicly so be careful what you share.
        </p>
      </div>

      <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
        <div class="sm:col-span-3">
          <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_field :name, autocomplete: "name", class: "shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="sm:col-start-1 sm:col-end-4">
          <%= form.label :email, "Email address", class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.email_field :email, autocomplete: "email", class: "shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
        </div>

        <div class="sm:col-span-6">
          <%= form.label :hero, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_field :hero, class: "shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Summarize yourself as a developer in a few words.
          </p>
        </div>

        <div class="sm:col-span-6">
          <%= form.label :bio, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.text_area :bio, rows: 3, class: "shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border border-gray-300 rounded-md" %>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Write a few sentences about yourself.
          </p>
        </div>

        <div class="sm:col-span-1">
          <%= form.label :available_on, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.date_field :available_on, class: "shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-gray-300 rounded-md text-center" %>
          </div>
        </div>

        <div class="sm:col-span-6" data-controller="file-upload" data-file-upload-visibility-class="hidden" data-file-upload-loading-class="opacity-50">
          <span class="block text-sm font-medium text-gray-700">Avatar</span>
          <div class="mt-1 flex items-center">
            <div class="relative">
              <%= render "developers/avatar", developer: @developer, data: { "file-upload-target": "image" } %>
              <div data-file-upload-target="activity" class="hidden absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                <%= inline_svg_tag "icons/outline/refresh.svg", class: "w-8 h-8 text-gray-900 animate-reverse-spin" %>
              </div>
            </div>

            <%= form.file_field :avatar, direct_upload: true, accept: "image/png, image/jpg, image/jpeg", data: {action: "file-upload#select direct-upload:initialize->file-upload#start direct-upload:error->file-upload#error"}, class: "hidden" %>
            <%= form.label :avatar, "Change", class: "cursor-pointer ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
          </div>

          <div data-file-upload-target="error" class="hidden bg-red-50 border-l-4 border-red-400 p-4 mt-4">
            <div class="ml-3">
              <p class="text-sm text-red-700">Something went wrong uploading your image, please try again.</p>
            </div>
          </div>
        </div>

        <div data-controller="file-upload" data-file-upload-visibility-class="hidden" data-file-upload-loading-class="opacity-50" class="sm:col-span-6">
          <span class="block text-sm font-medium text-gray-700">Cover image</span>
          <div class="relative">
            <%= form.file_field :cover_image, direct_upload: true, accept: "image/png, image/jpg, image/jpeg, image/gif", data: {action: "input->file-upload#select direct-upload:initialize->file-upload#start direct-upload:error->file-upload#error"}, class: "hidden" %>
            <%= form.label :cover_image, "Change", class: "cursor-pointer absolute right-0 bottom-0 z-10 m-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>

            <div class="mb-4 w-full aspect-w-4 aspect-h-1">
              <% unless @developer.cover_image.attached? %>
                <%= image_tag "default_splash.jpg", alt: "Developer's cover image", "data-file-upload-target": "image", class: "object-cover w-full h-full rounded-md" %>
              <% else %>
                <%= image_tag @developer.cover_image, alt: "Developer's cover image", "data-file-upload-target": "image", class: "object-cover w-full h-full rounded-md"%>
              <% end %>
            </div>
            <div data-file-upload-target="activity" class="hidden absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <%= inline_svg_tag "icons/outline/refresh.svg", class: "w-8 h-8 text-gray-900 animate-reverse-spin" %>
            </div>
          </div>
          <div class="flex text-sm text-gray-600">
            <p class="">Upload a file</p>
          </div>
          <p class="text-xs text-gray-500">
            PNG, JPG, GIF up to 10MB
          </p>
          <div data-file-upload-target="error" class="hidden bg-red-50 border-l-4 border-red-400 p-4 mt-4">
            <div class="ml-3">
              <p class="text-sm text-red-700">Something went wrong uploading your image, please try again.</p>
            </div>
          </div>
        </div>

        <div class="sm:col-span-3">
          <%= form.label :website, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
              https://
            </span>
            <%= form.text_field :website, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
          </div>
        </div>

        <div class="sm:col-start-1 sm:col-end-4">
          <%= form.label :github, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
              github.com/
            </span>
            <%= form.text_field :github, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
          </div>
        </div>

        <div class="sm:col-start-1 sm:col-end-4">
          <%= form.label :twitter, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
              twitter.com/
            </span>
            <%= form.text_field :twitter, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
          </div>
        </div>

        <div class="sm:col-start-1 sm:col-end-4">
          <%= form.label :linkedin, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1 flex rounded-md shadow-sm">
            <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
              linkedin.com/in/
            </span>
            <%= form.text_field :linkedin, class: "flex-1 focus:ring-gray-500 focus:border-gray-500 block w-full min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300" %>
          </div>
        </div>

      </div>
    </div>

    <div class="pt-5">
      <div class="flex justify-end">
        <%= form.button class: "ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
      </div>
    </div>
  <% end %>
</div>
