<% content_for :open_graph_tags do %>
  <%= render OpenGraphTagsComponent.new %>
<% end %>

<div class="max-w-5xl mx-auto">
  <div class="pb-5 px-4 lg:px-0 mt-12 sm:mt-24 sm:flex sm:items-center">
    <h3 class="text-lg leading-6 font-medium text-gray-900">
      <%= t(".ror_developers") %>
    </h3>
  </div>
  <%= render PagyPaginatorComponent.new(id: "developers",
        pagy: @pagy,
        url_array: [:developers],
        container_classes: "space-y-8") do |component| %>
    <% component.loading_icon do %>
      <%= render LoadingComponent.new %>
    <% end %>
    <%= render DeveloperCardComponent.with_collection(@developers) %>
  <% end %>
</div>
