<%= open_graph_tags title: t(".title_og"), description: t(".description", developers_count: @developers_count) %>

<div class="bg-white max-w-5xl mx-auto lg:mt-16 mb-16 shadow overflow-auto sm:rounded-md">
  <div class="py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-4">
    <div>
      <h1 class="text-3xl font-extrabold tracking-tight text-gray-900"><%= t(".title") %></h1>
      <p class="mt-4 max-w-xl text-sm text-gray-700"><%= t(".description", developers_count: @developers_count) %></p>
    </div>

    <%= render DeveloperProfileActionComponent.new(current_user) %>
  </div>

  <%= render DeveloperQueryComponent.new(@query) %>

  <%= render PagyPaginatorComponent.new(id: "developers", pagy: @query.pagy, url_array: [:developers], container_classes: "divide-y divide-gray-200", options: @query.filters) do |component| %>
    <% component.loading_icon do %>
      <div class="py-4">
        <%= render LoadingComponent.new %>
      </div>
    <% end %>
    <%= render DeveloperCardComponent.with_collection(@query.records) %>
  <% end %>
</div>
