<%= open_graph_tags title: t(".title_og"), description: t(".description", developers_count: @developers_count) %>

<div data-controller="toggle" data-toggle-close-class="hidden">
  <%# TODO: Need to move the outer form all the way up here. %>
  <%= render "mobile_filters" %>
  <%# render DeveloperQueryComponent.new(query: @query, user: current_user) %>

  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="relative z-10 md:flex items-end justify-between md:space-x-8 px-4 sm:px-0 pt-12 sm:pt-24 pb-6 border-b border-gray-200">
      <div>
        <div class="md:flex md:items-baseline md:space-x-8">
          <h1 class="text-3xl font-extrabold tracking-tight text-gray-900"><%= t(".title") %></h1>
          <div class="hidden md:block">
            <%= render DeveloperProfileActionComponent.new(current_user) %>
          </div>
        </div>
        <p class="mt-4 text-sm text-gray-700 max-w-xl"><%= t(".description", developers_count: @developers_count) %></p>
      </div>

      <div class="flex items-center justify-between mt-4 md:mt-0">
        <div class="md:hidden">
          <%= render DeveloperProfileActionComponent.new(current_user) %>
        </div>

        <%= render "sorting" %>
        <%# Does this even need to be a component if there's no logic? Can we just pass in @query? %>
        <%# render DeveloperSortComponent.new(query: @query, user: current_user) %>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-8 gap-y-10">
      <section aria-labelledby="products-heading" class="pt-6 pb-24 hidden lg:block">
        <%= render "filters" %>
        <%# render DeveloperQueryComponent.new(query: @query, user: current_user) %>
      </section>

      <div class="lg:col-span-3 overflow-auto sm:rounded-lg shadow mt-6">
        <%= render "developers", query: @query %>
      </div>
    </div>
  </div>
</div>
