<%= open_graph_tags title: t(".title_og"), description: t(".description", developers_count: @developers_count) %>

<div class="bg-gray-50 max-w-5xl mx-auto lg:mt-16 mb-16 overflow-auto sm:rounded-md">
  <div class="pt-12 px-4 sm:px-6 mb-4">
    <div class="md:flex md:space-x-4">
      <h1 class="text-3xl font-extrabold tracking-tight text-gray-900"><%= t(".title") %></h1>
      <%= render DeveloperProfileActionComponent.new(current_user) %>
    </div>

    <div class="md:flex justify-between items-center">
      <p class="mt-4 pb-4 max-w-xl text-sm text-gray-700"><%= t(".description", developers_count: @developers_count) %></p>
      <%= render DeveloperQueryComponentSortButton.new(query: @query, user: current_user) %>   <!-- sort filter button for DeveloperQueryComponent (form id: quedev) -->
    </div>
  </div>

  <hr>

  <div class="grid grid-cols-12">
    <div class="col-span-12 md:col-span-3">
      <div class="hidden md:block">
        <%= render DeveloperQueryComponent.new(query: @query, user: current_user) %>
      </div>
      <div class="md:hidden">
        <%= render DeveloperQueryMobileMenu.new(query: @query, user: current_user) %>
      </div>
    </div>
    <div class="col-span-12 md:col-span-9">
      <%= render DeveloperCardComponent.with_collection(@query.featured_records, featured: true) %>
      <%= render PagyPaginatorComponent.new(id: "developers", pagy: @query.pagy, url_array: [:developers], container_classes: "divide-y divide-gray-200", options: @query.filters) do |component| %>
        <% component.loading_icon do %>
          <div class="py-4">
            <%= render LoadingComponent.new %>
          </div>
        <% end %>
        <%= render DeveloperCardComponent.with_collection(@query.records) %>
      <% end %>
    </div>
  </div>
</div>
