<% content_for :open_graph_tags do %>
  <%= render OpenGraphTagsComponent.new %>
<% end %>

<div class="pb-5 px-4 lg:px-0 mt-12 sm:mt-24 sm:flex sm:items-center sm:justify-between">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Ruby on Rails developers
  </h3>
  <div class="mt-3 sm:mt-0 sm:ml-4">
    <%= link_to "Add your profile", new_developer_path, class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
  </div>
</div>

<div class="space-y-8">
  <%= render DeveloperCardComponent.with_collection(@developers) %>
</div>

<div class="mt-8">
  <%= pagy_links do %>
    <%== pagy_nav @pagy %>
  <% end %>
</div>

<%= turbo_frame_tag "developers-#{@pagy.page}" do %>
  <%= turbo_stream.append "developers" do %>
    <% unless @pagy.page == 1 %>
      <%= render DeveloperCardComponent.with_collection(@developers) %>
    <% end %>
    <% if @pagy.next %>
      <%= turbo_frame_tag "developers-#{@pagy.page + 1}", src: [:developers, page: @pagy.next], loading: :lazy %>
    <% end %>
  <% end %>
<% end %>
