<% content_for :open_graph_tags do %>
  <%= render OpenGraphTagsComponent.new %>
<% end %>

<div class="pb-5 px-4 lg:px-0 mt-12 sm:mt-24 sm:flex sm:items-center sm:justify-between">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    Ruby on Rails developers
  </h3>
</div>

<div class="space-y-8">
  <%= render DeveloperCardComponent.with_collection(@developers) %>
</div>

<div class="mt-8">
  <%= pagy_links do %>
    <%== pagy_nav @pagy %>
  <% end %>
</div>

<%= turbo_frame_tag "developers-#{@pagy.page}" do %>
  <%= turbo_stream.append "developers" do %>
    <% unless @pagy.page == 1 %>
      <%= render DeveloperCardComponent.with_collection(@developers) %>
    <% end %>
    <% if @pagy.next %>
      <%= turbo_frame_tag "developers-#{@pagy.page + 1}", src: [:developers, page: @pagy.next], loading: :lazy %>
    <% end %>
  <% end %>
<% end %>
