<% content_for :open_graph_tags do %>
  <%= render DeveloperOpenGraphTagsComponent.new(developer: @developer) %>
<% end %>

<div class="max-w-5xl mx-auto mt-0 lg:mt-16 pb-8 mb-16 bg-white shadow lg:rounded-lg overflow-hidden">
  <%= render CoverImageComponent.new(developer: @developer, classes: "lg:rounded-t-lg") %>

  <div class="relative z-10 max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
      <%= render AvatarComponent.new(avatarable: @developer) %>
    </div>
  </div>

  <div class="flex-1">
    <div class="pt-6 pb-8 xl:pb-10">
      <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-5xl lg:grid lg:grid-cols-3">
        <div class="lg:col-span-2 lg:pr-8 lg:border-r lg:border-gray-200">
          <div>
            <div>
              <div class="md:flex md:items-center md:justify-between md:space-x-4 lg:border-b lg:pb-6">
                <h1 class="text-2xl font-bold text-gray-900"><%= @developer.hero %></h1>

                <%= link_to new_developer_message_path(@developer), rel: "nofollow", class: "shrink-0 mt-4 md:mt-0 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
                  <%= inline_svg_tag "icons/solid/briefcase.svg", class: "-ml-1 mr-3 h-5 w-5" %>
                  <%= t(".hire") %>
                <% end %>
              </div>

              <aside class="mt-8 lg:hidden">
                <%= render "details", developer: @developer %>
              </aside>

              <div class="py-3 lg:pt-6 lg:pb-0">
                <h2 class="sr-only"><%= t(".description") %></h2>
                <div class="prose max-w-prose">
                  <%= simple_format @developer.bio %>
                </div>
              </div>

              <!-- technical skills -->
              <div class="mt-4">
                <% @developer.technical_skills.split(",").each do |skill| %>
                  <div
                    class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                    <%= skill %>
                  </div>
                <% end %>
              </div>

              <!-- pivot skills -->
              <div class="mt-4">
                <% @developer.pivot_skills.split(",").each do |skill| %>
                  <div
                    class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gradient-to-t from-orange-300 via-orange-300 to-yellow-300 text-blue-700 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <%= skill %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <aside class="hidden lg:block lg:pl-8">
          <%= render "details", developer: @developer %>
        </aside>
      </div>
    </div>
  </div>
</div>
