<section aria-labelledby="faq" class="max-w-2xl mx-auto px-4 divide-y divide-gray-200 sm:px-6 lg:max-w-7xl lg:px-8">
  <h2 id="faq" class="text-3xl font-extrabold text-gray-900"><%= t(".title") %></h2>
  <div class="mt-8">
    <dl class="divide-y divide-gray-200">
      <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
        <dt class="text-base font-medium text-gray-900 md:col-span-5"><%= t(".developers.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t(".developers.a") %></p>
        </dd>
        <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t(".subscription.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t(".subscription.a") %></p>
        </dd>
        <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t(".features.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t(".features.a") %></p>
        </dd>
        <dt id="full-time-fee" class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t(".fee.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t(".fee.a_html") %></p>
        </dd>
        <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t(".annual.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t(".annual.a_html") %></p>
        </dd>
        <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t(".cancellation.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t(".cancellation.a_html") %></p>
        </dd>
        <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t(".support.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t(".support.a_html") %></p>
        </dd>
      </div>
    </dl>
  </div>
</section>
