<p>Hey <%= @developer.first_name %>,</p>
<p>I'm Joe, the founder of <%= link_to "railsdevs", root_url %>.</p>
<%= link_to "Your developer profile", notification_url(@notification.record) %> was flagged because <%= @notification.message %>.</p>
<p>I've marked it as invisible – only you can see it. You can toggle this back to visible when <%= @notification.next_steps %>.</p>
<%= render "shared/signature" %>
