<section aria-labelledby="faq" class="max-w-2xl mx-auto px-4 divide-y divide-gray-200 sm:px-6 lg:max-w-7xl lg:px-8 py-20 lg:py-40">
  <h2 id="faq" class="text-3xl font-extrabold text-gray-900"><%= t("pricing.faq.title") %></h2>
  <div class="mt-8">
    <dl class="divide-y divide-gray-200">
      <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
        <dt class="text-base font-medium text-gray-900 md:col-span-5"><%= t("pricing.faq.developers.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t("pricing.faq.developers.a") %></p>
        </dd>
        <dt id="hiring-fee" class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.faq.fee.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t("pricing.faq.fee.a_html") %></p>
        </dd>
        <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.faq.annual.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t("pricing.faq.annual.a_html") %></p>
        </dd>
        <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.faq.cancellation.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t("pricing.faq.cancellation.a_html") %></p>
        </dd>
        <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.faq.support.q") %></dt>
        <dd class="mt-2 md:mt-0 md:col-span-7">
          <p class="text-base text-gray-500"><%= t("pricing.faq.support.a_html") %></p>
        </dd>
      </div>
    </dl>
  </div>
</section>
