<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-3xl font-extrabold text-gray-900"><%= t(".title") %></h2>
    <p class="mt-4 text-lg text-gray-500"><%= t(".subtitle") %></p>
  </div>

  <dl class="mt-12 space-y-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 lg:grid-cols-3 lg:gap-x-8">
    <div class="relative">
      <dt>
        <%= inline_svg_tag "icons/outline/check.svg", class: "absolute h-6 w-6 text-green-500" %>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900"><%= t(".profiles.title") %></p>
      </dt>
      <dd class="mt-2 ml-9 flex text-base text-gray-500 lg:py-0 lg:pb-4"><%= t(".profiles.description") %></dd>
    </div>

    <div class="relative">
      <dt>
        <%= inline_svg_tag "icons/outline/check.svg", class: "absolute h-6 w-6 text-green-500" %>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900"><%= t(".direct_communication.title") %></p>
      </dt>
      <dd class="mt-2 ml-9 flex text-base text-gray-500 lg:py-0 lg:pb-4"><%= t(".direct_communication.description") %></dd>
    </div>

    <div class="relative">
      <dt>
        <%= inline_svg_tag "icons/outline/check.svg", class: "absolute h-6 w-6 text-green-500" %>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900"><%= t(".unlock.title") %></p>
      </dt>
      <dd class="mt-2 ml-9 flex text-base text-gray-500 lg:py-0 lg:pb-4"><%= t(".unlock.description") %></dd>
    </div>

    <div class="relative">
      <dt>
        <%= inline_svg_tag "icons/outline/check.svg", class: "absolute h-6 w-6 text-green-500" %>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900"><%= t(".notifications.title") %></p>
      </dt>
      <dd class="mt-2 ml-9 flex text-base text-gray-500 lg:py-0 lg:pb-4"><%= t(".notifications.description") %></dd>
    </div>

    <div class="relative">
      <dt>
        <%= inline_svg_tag "icons/outline/check.svg", class: "absolute h-6 w-6 text-green-500" %>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900"><%= t(".independent_developers.title") %></p>
      </dt>
      <dd class="mt-2 ml-9 flex text-base text-gray-500 lg:py-0 lg:pb-4"><%= t(".independent_developers.description") %></dd>
    </div>

    <div class="relative">
      <dt>
        <%= inline_svg_tag "icons/outline/check.svg", class: "absolute h-6 w-6 text-green-500" %>
        <p class="ml-9 text-lg leading-6 font-medium text-gray-900"><%= t(".support.title") %></p>
      </dt>
      <dd class="mt-2 ml-9 flex text-base text-gray-500 lg:py-0 lg:pb-4"><%= t(".support.description") %></dd>
    </div>
  </dl>
</div>
