<div class="mt-8 pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
  <div class="relative">
    <div class="relative mx-auto max-w-5xl">
      <div class="flex justify-between items-center">
        <div class="py-12 w-full max-w-lg">
          <h3 class="font-bold font-heading text-typography text-4xl"><%= t(".title") %></h3>
          <p class="mt-6 text-base text-typography font-light leading-9"><%= t(".description") %></p>
        </div>
        <div class="w-full lg:max-w-sm py-8 px-6 text-center lg:flex lg:flex-shrink-0 lg:flex-col lg:justify-center lg:p-12">
          <div class="mt-4 flex items-center justify-center font-heading font-bold tracking-tight text-typography">
            <span class="text-6xl">$299</span>
            <span class="ml-2 mt-8 text-xl font-light tracking-normal text-gray-600"><%= t(".per_month") %></span>
          </div>
          <p class="text-sm">
            <a href="#hiring-fee" class="font-light text-gray-600 pb-1.5 border-b border-salmon"><%= t(".hiring_fee") %></a>
          </p>
        </div>
      </div>

      <%= render "pricing/purchase_button", plan: :full_time, classes: "block flex items-center justify-center rounded-md border border-transparent bg-gray-800 px-5 py-3 text-base font-medium text-white hover:bg-gray-900" %>
    </div>
  </div>
  <dl class="grid grid-cols-2 gap-x-28 gap-y-24 max-w-5xl mx-auto mt-32">
    <%= render "pricing/plan_feature", title: t(".features.rails.title"), description: t(".features.rails.description"), svg_path: "icons/outline/user_group.svg" %>
    <%= render "pricing/plan_feature", title: t(".features.message.title"), description: t(".features.message.description"), svg_path: "icons/outline/chat.svg" %>
    <%= render "pricing/plan_feature", title: t(".features.hand_selected_matches.title"), description: t(".features.hand_selected_matches.description"), svg_path: "icons/outline/thumb_up.svg" %>
    <%= render "pricing/plan_feature", title: t(".features.email_updates.title"), description: t(".features.email_updates.description"), svg_path: "icons/outline/airplane.svg" %>
  </dl>
</div>
