<%= open_graph_tags title: t(".title_og"), description: "#{t(".title_1")} #{t(".title_2")}" %>

<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
  <div class="pb-16 xl:flex xl:items-center xl:justify-between">
    <div>
      <h1 class="text-4xl font-extrabold sm:text-5xl sm:tracking-tight">
        <span class="text-gray-900"><%= t(".title_1") %></span>
        <span class="text-gray-700"><%= t(".title_2") %></span>
      </h1>
      <p class="mt-5 text-xl text-gray-500"><%= t(".subtitle") %></p>
    </div>
    <%= button_to t(".cta"), stripe_checkout_path(plan: :legacy), method: :post, data: {turbo: false}, rel: "nofollow", class: "mt-8 w-full bg-gray-600 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-white hover:bg-gray-700 sm:mt-10 sm:w-auto xl:mt-0 cursor-pointer" %>
  </div>

  <section class="border-t border-gray-200 pt-16 xl:grid xl:grid-cols-3 xl:gap-x-8">
    <div>
      <p class="mt-2 text-3xl font-extrabold text-gray-900"><%= t(".feature.title") %></p>
      <p class="mt-4 text-lg text-gray-500"><%= t(".feature.subtitle") %></p>
    </div>
    <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:gap-x-8 xl:mt-0 xl:col-span-2">
      <ul class="divide-y divide-gray-200">
        <li class="py-4 flex md:py-0 md:pb-4">
          <%= inline_svg_tag "icons/outline/check.svg", class: "shrink-0 h-6 w-6 text-gray-700" %>
          <span class="ml-3 text-base text-gray-500 font-bold"><%= t(".feature.1") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.2") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.3") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.4") %></span>
        </li>
      </ul>
      <ul class="border-t border-gray-200 divide-y divide-gray-200 md:border-t-0">
        <li class="py-4 flex md:border-t-0 md:py-0 md:pb-4">
          <%= inline_svg_tag "icons/outline/check.svg", class: "shrink-0 h-6 w-6 text-gray-700" %>
          <span class="ml-3 text-base text-gray-500 font-bold"><%= t(".feature.5") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.6") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.7") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "shrink-0 h-6 w-6 text-gray-500" %>
          <%= link_to "https://github.com/joemasilotti/railsdevs.com", class: "ml-3 text-base text-gray-500 group" do %>
            <span class="group-hover:underline"><%= t(".feature.8") %></span>
            <span aria-hidden="true">&rarr;</span>
          <% end %>
        </li>
      </ul>
    </div>
  </section>
</div>

<section class="bg-gray-900">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white"><%= t(".faq.title") %></h2>
    <div class="mt-6 border-t border-gray-400 border-opacity-25 pt-10">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-12">
        <div>
          <dt class="text-lg leading-6 font-medium text-white"><%= t(".faq.1.q") %></dt>
          <dd class="mt-2 text-base text-gray-200"><%= t(".faq.1.a") %></dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-white"><%= t(".faq.2.q") %></dt>
          <dd class="mt-2 text-base text-gray-200"><%= t(".faq.2.a") %></dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-white"><%= t(".faq.3.q") %></dt>
          <dd class="mt-2 text-base text-gray-200"><%= t(".faq.3.a") %></dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-white"><%= t(".faq.4.q") %></dt>
          <dd class="mt-2 text-base text-gray-200"><%= t(".faq.4.a_html") %></dd>
        </div>
      </dl>
    </div>
  </div>
</section>

<section class="overflow-hidden">
  <div class="relative max-w-7xl mx-auto pt-20 pb-12 px-4 sm:px-6 lg:px-8 lg:py-20">
    <div class="relative lg:flex lg:items-center">
      <div class="hidden lg:block lg:flex-shrink-0">
        <%= image_tag "stefan.png", class: "h-64 w-64 rounded-full xl:h-80 xl:w-80", alt: "Stefan Manku, founder of Dietary Menu" %>
      </div>
      <div class="relative lg:ml-10">
        <svg class="absolute top-0 left-0 transform -translate-x-10 lg:-translate-x-8 -translate-y-16 lg:-translate-y-24 h-36 w-36 text-blue-200 opacity-50" stroke="currentColor" fill="none" viewBox="0 0 144 144" aria-hidden="true">
          <path stroke-width="2" d="M41.485 15C17.753 31.753 1 59.208 1 89.455c0 24.664 14.891 39.09 32.109 39.09 16.287 0 28.386-13.03 28.386-28.387 0-15.356-10.703-26.524-24.663-26.524-2.792 0-6.515.465-7.446.93 2.327-15.821 17.218-34.435 32.11-43.742L41.485 15zm80.04 0c-23.268 16.753-40.02 44.208-40.02 74.455 0 24.664 14.891 39.09 32.109 39.09 15.822 0 28.386-13.03 28.386-28.387 0-15.356-11.168-26.524-25.129-26.524-2.792 0-6.049.465-6.98.93 2.327-15.821 16.753-34.435 31.644-43.742L121.525 15z" />
        </svg>
        <blockquote class="relative">
          <div class="text-2xl leading-9 font-medium text-gray-900">
            <p>With railsdevs I'm able to focus on getting my product to market instead of spending hours finding developers.</p>
          </div>
          <div class="mt-8">
            <div class="flex">
              <div class="flex-shrink-0 lg:hidden">
                <%= image_tag "stefan.png", class: "h-12 w-12 rounded-full", alt: "Stefan Manku, founder of Dietary Menu" %>
              </div>
              <div class="ml-4 lg:ml-0">
                <div class="text-base font-medium text-gray-900">Stefan Manku</div>
                <a href="https://dietarymenu.com" class="text-base font-medium text-blue-600 hover:text-blue-500">Founder, Dietary Menu</a>
              </div>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</section>
