<%= open_graph_tags title: t(".title_og"), turbo_native_title: t(".turbo_native_title"), description: t(".description"), image: image_url("opengraph/pricing.png") %>

<div class="bg-white">
  <div class="relative max-w-2xl mx-auto py-10 lg:py-24 px-4 sm:px-6 lg:max-w-5xl lg:px-8">
    <div class="relative space-y-6">
      <% unless turbo_native_app? %>
        <h1 class="text-3xl font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl"><%= t(".title") %></h1>
      <% end %>
      <p class="max-w-prose text-xl text-gray-500"><%= t(".description") %></p>
    </div>
  </div>

  <%= render Businesses::LegacySubscriptionComponent.new(current_user) do %>
    <%= render "banner" %>
  <% end %>

  <div class="space-y-24 lg:space-y-48 pb-12 lg:pb-24">
    <%= render "plans" %>
    <%= render "features" %>
    <%= render "testimonial" %>
    <%= render "faq" %>
    <%= render "cta" %>
  </div>
</div>
