<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
  <div class="pb-16 xl:flex xl:items-center xl:justify-between">
    <div>
      <h1 class="text-4xl font-extrabold sm:text-5xl sm:tracking-tight">
        <span class="text-gray-900"><%= t(".title_1") %></span>
        <span class="text-gray-700"><%= t(".title_2") %></span>
      </h1>
      <p class="mt-5 text-xl text-gray-500"><%= t(".subtitle") %></p>
    </div>
    <%= link_to t(".cta"), new_business_path, class: "mt-8 w-full bg-gray-600 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-white hover:bg-gray-700 sm:mt-10 sm:w-auto xl:mt-0" %>
  </div>
  <div class="border-t border-gray-200 pt-16 xl:grid xl:grid-cols-3 xl:gap-x-8">
    <div>
      <p class="mt-2 text-3xl font-extrabold text-gray-900"><%= t(".feature.title") %></p>
      <p class="mt-4 text-lg text-gray-500"><%= t(".feature.subtitle") %></p>
    </div>
    <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:gap-x-8 xl:mt-0 xl:col-span-2">
      <ul role="list" class="divide-y divide-gray-200">
        <li class="py-4 flex md:py-0 md:pb-4">
          <%= inline_svg_tag "icons/outline/check.svg", class: "flex-shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.1") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "flex-shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.2") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "flex-shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.3") %></span>
        </li>
      </ul>
      <ul role="list" class="border-t border-gray-200 divide-y divide-gray-200 md:border-t-0">
        <li class="py-4 flex md:border-t-0 md:py-0 md:pb-4">
          <%= inline_svg_tag "icons/outline/check.svg", class: "flex-shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.4") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "flex-shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.5") %></span>
        </li>

        <li class="py-4 flex">
          <%= inline_svg_tag "icons/outline/check.svg", class: "flex-shrink-0 h-6 w-6 text-gray-500" %>
          <span class="ml-3 text-base text-gray-500"><%= t(".feature.6") %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

<div class="bg-gray-900">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white"><%= t(".faq.title") %></h2>
    <div class="mt-6 border-t border-gray-400 border-opacity-25 pt-10">
      <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:grid-rows-2 md:gap-x-8 md:gap-y-12">
        <div>
          <dt class="text-lg leading-6 font-medium text-white"><%= t(".faq.1.q") %></dt>
          <dd class="mt-2 text-base text-gray-200"><%= t(".faq.1.a") %></dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-white"><%= t(".faq.2.q") %></dt>
          <dd class="mt-2 text-base text-gray-200"><%= t(".faq.2.a") %></dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-white"><%= t(".faq.3.q") %></dt>
          <dd class="mt-2 text-base text-gray-200"><%= t(".faq.3.a") %></dd>
        </div>

        <div>
          <dt class="text-lg leading-6 font-medium text-white"><%= t(".faq.4.q") %></dt>
          <dd class="mt-2 text-base text-gray-200"><%= t(".faq.4.a_html") %></dd>
        </div>
      </dl>
    </div>
  </div>
</div>
