<li class="relative bg-white py-5 px-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-blue-600">
  <div class="flex justify-between space-x-3">
    <div class="min-w-0 flex-1">
      <p class="text-sm font-medium text-gray-900 truncate"><%= conversation.developer.name %></p>
      <p class="text-sm font-medium text-gray-900 truncate mt-2"><%= conversation.business.contact_name %></p>
    </div>
    <span class="shrink-0 whitespace-nowrap text-sm text-gray-500">
      <%= t(".blocked") %> <%= render TimeComponent.new(conversation.developer_blocked_at || conversation.business_blocked_at) %>
    </span>
  </div>
  <div class="mt-4">
    <p class="line-clamp-2 text-sm text-gray-600"><%= conversation.messages.last.body %></p>
  </div>
</li>
