<!-- mobile filters -->
<%= form_with url: developers_path, id: 'quedev', method: :get, class: "bg-gray-200" do |form| %>
  <div data-controller="toggle" data-toggle-visibility-class="hidden">
    <div class="flex justify-end">
      <button type="button" data-action="toggle#toggle" class="flex items-center space-x-2 py-4 px-4 text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </svg>
        <span><%= t(".filters") %></span>
      </button>
    </div>

    <div data-toggle-target="element" id="mobile-filters" class="hidden bg-gray-50">
      <div class="fixed inset-0 flex z-40 sm:hidden" role="dialog" aria-modal="true">
        <div class="fixed inset-0 bg-black bg-opacity-25" aria-hidden="true"></div>
        <div class="ml-auto relative max-w-xs w-full h-full bg-white shadow-xl py-4 pb-6 flex flex-col overflow-y-auto">
          <div class="px-4 mb-2 flex items-center justify-between">
            <h2 class="text-lg font-medium text-gray-900"><%= t(".filters") %></h2>
            <button type="button" data-action="toggle#toggle" class="-mr-2 w-10 h-10 bg-white p-2 rounded-md flex items-center justify-center text-gray-400 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-500">
              <span class="sr-only"><%= t(".close_menu") %></span>
              <%= inline_svg_tag "icons/outline/x.svg", class: "h-6 w-6" %>
            </button>
          </div>

          <%= form_with url: developers_path, method: :get, html: {class: "py-6"} do |form| %>
            <%= form.hidden_field :sort, value: @query.sort if @query.sort %>

            <% if Feature.enabled?(:search_feature, user: @user) %>
              <div class="mx-4 pb-4">
                <%= form.label :search_query, t(".search_query_label"), class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= form.text_field :search_query, value: search_query, placeholder: t(".search_query_placeholder"), class: "shadow-sm focus:ring-gray-500 focus:border-gray-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
                </div>
              </div>
            <% end %>

            <% if Feature.enabled?(:role_level_filters, user: @user) %>
              <div data-controller="toggle" data-toggle-visibility-class="hidden" data-toggle-chevron-class="rotate-180" class="border-t border-gray-200 px-4 py-6">
                <h3 class="-mx-2 -my-3 flow-root">
                  <button type="button" data-action="toggle#toggle" class="px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400" aria-controls="role-level-filter-section" aria-expanded="false">
                    <span class="font-medium text-gray-900"><%= t(".role_level.title") %></span>
                    <span class="ml-6 flex items-center">
                    <%= inline_svg_tag "icons/solid/chevron_down.svg", class: "h-5 w-5 transform", data: {"toggle-target": "chevron"} %>
                  </span>
                  </button>
                </h3>

                <div id="role-level-filter-section" data-toggle-target="element" class="hidden pt-6">
                  <div class="space-y-6">
                    <%= form.collection_check_boxes(:role_levels, role_levels, :first, :last, {include_hidden: false}) do |b| %>
                      <div class="flex items-center">
                        <%= b.check_box class: "h-4 w-4 border-gray-300 rounded text-gray-600 focus:ring-gray-500", id: "mobile_timezones_#{b.object.first}", checked: role_level_selected?(b.object) %>
                        <%= b.label class: "ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap", for: "mobile_timezones_#{b.object.first}" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>

            <div data-controller="toggle" data-toggle-visibility-class="hidden" data-toggle-chevron-class="rotate-180" class="border-t border-gray-200 px-4 py-6">
              <h3 class="-mx-2 -my-3 flow-root">
                <button type="button" data-action="toggle#toggle" class="px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400" aria-controls="role-type-filter-section" aria-expanded="false">
                  <span class="font-medium text-gray-900"><%= t(".work_preference.title") %></span>
                  <span class="ml-6 flex items-center">
                  <%= inline_svg_tag "icons/solid/chevron_down.svg", class: "h-5 w-5 transform", data: {"toggle-target": "chevron"} %>
                </span>
                </button>
              </h3>

              <div id="role-type-filter-section" data-toggle-target="element" class="hidden pt-6">
                <div class="space-y-6">
                  <%= form.collection_check_boxes(:role_types, role_types, :first, :last, {include_hidden: false}) do |b| %>
                    <div class="flex items-center">
                      <%= b.check_box class: "h-4 w-4 border-gray-300 rounded text-gray-600 focus:ring-gray-500", id: "mobile_role_types_#{b.object.first}", checked: role_type_selected?(b.object) %>
                      <%= b.label class: "ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap", for: "mobile_role_types_#{b.object.first}" %>
                    </div>
                  <% end %>
                  <hr>
                  <div class="flex items-top">
                    <%= form.check_box :include_not_interested, id: :mobile_include_not_interested, class: "mt-1 h-4 w-4 border-gray-300 rounded text-gray-600 focus:ring-gray-500", include_hidden: false, checked: include_not_interested? %>
                    <%= form.label :include_not_interested, t(".include_not_interested"), for: :mobile_include_not_interested, class: "ml-3 pr-6 text-sm font-medium text-gray-900" %>
                  </div>
                </div>
              </div>
            </div>

            <div data-controller="toggle" data-toggle-visibility-class="hidden" data-toggle-chevron-class="rotate-180" class="border-t border-gray-200 px-4 py-6">
              <h3 class="-mx-2 -my-3 flow-root">
                <button type="button" data-action="toggle#toggle" class="px-2 py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400" aria-controls="timezone-filter-section" aria-expanded="false">
                  <span class="font-medium text-gray-900"><%= t(".timezone.title") %></span>
                  <span class="ml-6 flex items-center">
                  <%= inline_svg_tag "icons/solid/chevron_down.svg", class: "h-5 w-5 transform", data: {"toggle-target": "chevron"} %>
                </span>
                </button>
              </h3>

              <div id="timezone-filter-section" data-toggle-target="element" class="hidden pt-6">
                <div class="space-y-6">
                  <%= form.collection_check_boxes(:utc_offsets, time_zones, :first, :last, {include_hidden: false}) do |b| %>
                    <div class="flex items-center">
                      <%= b.check_box class: "h-4 w-4 border-gray-300 rounded text-gray-600 focus:ring-gray-500", id: "mobile_timezones_#{b.object.first}", checked: time_zone_selected?(b.object) %>
                      <%= b.label class: "ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap", for: "mobile_timezones_#{b.object.first}" %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="border-t border-gray-200 px-4 py-6">
              <div class="flex justify-start space-x-2">
                <a href="/developers" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                  Clear
                </a>
                <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                  <%= t(".apply") %>
                </button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
