<%= link_to developer, class: "bg-white hover:bg-gray-50 border-1 border-white hover:border-gray-900 px-4 py-6 shadow sm:p-6 lg:rounded-lg flex space-x-4 sm:space-x-8" do %>
  <div class="shrink-0">
    <%= render AvatarComponent.new(avatarable: developer) %>
  </div>

  <div class="self-start flex-1 min-w-0">
    <div class="flex items-baseline">
      <h2 class="text-lg sm:text-xl font-medium text-gray-900 line-clamp-2 break-word" title="<%= hero %>">
        <%= hero %>
      </h2>

      <div class="hidden sm:inline-flex ml-auto flex-row-reverse shrink-0 items-center text-gray-400">
        <%= render AvailabilityComponent.new(developer: developer) %>
      </div>
    </div>

    <div class="mt-2 text-sm sm:text-base text-gray-700 space-y-4">
      <p class="line-clamp-3 break-words"><%= bio %></p>
    </div>

    <!-- technical skills -->
    <div class="mt-4">
      <% technical_skills.split(",").each do |skill| %>
        <div
          class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-blue-200 text-blue-700 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>
          <%= skill %>
        </div>
      <% end %>
    </div>

    <!-- pivot skills -->
    <div class="mt-4">
      <% pivot_skills.split(",").each do |skill| %>
        <div
          class="text-xs inline-flex items-center font-bold leading-sm uppercase px-3 py-1 bg-gradient-to-t from-orange-300 via-orange-300 to-yellow-300 text-blue-700 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <%= skill %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
