<% if owner? %>
  <%= link_to edit_developer_path(@developer), class: "shrink-0 mt-4 md:mt-0 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
    <%= inline_svg_tag "icons/solid/pencil.svg", class: "-ml-1 mr-3 h-5 w-5" %>
    <%= t("developers.show.edit") %>
  <% end %>
<% else %>
  <%= link_to new_developer_message_path(@developer), rel: "nofollow", class: "shrink-0 mt-4 md:mt-0 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
    <%= inline_svg_tag "icons/solid/briefcase.svg", class: "-ml-1 mr-3 h-5 w-5" %>
    <%= t("developers.show.hire") %>
  <% end %>

  <% if admin? %>
    <%= tag.div data: {controller: "clipboard", clipboard_visibility_class: "hidden", clipboard_content_value: "#{@developer.hero} #{developer_url(@developer)}", clipboard_html_content_value: link_to(@developer.hero, developer_url(@developer))} do %>
      <button data-action="clipboard#copy clipboard#toggle" type="button" class="shrink-0 mt-4 md:mt-0 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
        <%= inline_svg_tag "icons/solid/document-duplicate.svg", class: "h-6 w-5", data: {clipboard_target: "toggleable"} %>
        <%= inline_svg_tag "icons/solid/check.svg", class: "h-6 w-5 hidden", data: {clipboard_target: "toggleable"} %>
      </button>
    <% end %>

    <%= button_to admin_developer_invisiblizes_path(@developer), method: :post, rel: "nofollow", class: "shrink-0 mt-4 md:mt-0 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
      <%= inline_svg_tag "icons/solid/eye_off.svg", class: "-ml-1 mr-3 h-5 w-5" %>
      <%= t("developers.show.invisiblize") %>
    <% end %>
  <% end %>
<% end %>
