<h3 class="sr-only"><%= t(".title") %></h3>
<!-- desktop form -->
<%= form_with url: developers_path, id: 'quedev', method: :get do |form| %>

  <!-- search feature 
    (sort dropdown by newest or availibilty is in: 
    DeveloperQueryComponentSort. link by form attribute) 
  -->
  <% if Feature.enabled?(:search_feature, user: @user) %>
    <!-- search bar -->
    <%= form.label :search_query, t(".search_query_label") %>
    <%= form.text_field :search_query, value: search_query, placeholder: t(".search_query_label") %>
  <% else %>
    <!-- sort dropdown (won't show because feature is enabled) -->
    <div data-controller="toggle" data-toggle-visibility-class="hidden" id="sort">
      <div>
        <button type="button" data-action="toggle#toggle" aria-expanded="false" aria-haspopup="true">
          <%= t(".sort.title") %>
          <%= inline_svg_tag "icons/solid/chevron_down.svg" %>
        </button>
      </div>

      <div data-toggle-target="element" role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
        <div role="none">
          <%= render SortButtonComponent.new(title: t(".sort.newest"), name: :sort, value: :newest, enabled: sort == :newest) %>
          <%= render SortButtonComponent.new(title: t(".sort.availibility"), name: :sort, value: :availability, enabled: sort == :availibility) %>
        </div>
      </div><!-- data-toggle-target -->
    </div><!-- data-controller -->
  <% end %>

  <!-- role level filters -->
  <% if Feature.enabled?(:role_level_filters, user: @user) %>
    <div data-controller="toggle" data-toggle-visibility-class="hidden">
      <!-- role dropdown -->
      <div>
        <button type="button" data-action="toggle#toggle" aria-expanded="false">
          <span><%= t(".role_level.title") %></span>
          <%= inline_svg_tag "icons/solid/chevron_down.svg" %>
        </button>
      </div>

      <!-- role checkbox -->
      <div data-toggle-target="element">
        <div>
          <%= form.collection_check_boxes(:role_levels, role_levels, :first, :last, {include_hidden: false}) do |b| %>
            <div>
              <%= b.check_box checked: role_level_selected?(b.object) %>
              <%= b.label %>
            </div>
          <% end %>
        </div>

        <div>
          <div>
            <!-- role apply button -->
            <button type="submit">
              <%= t(".apply") %>
            </button>
          </div>
        </div>
      </div><!-- data-toggle-target -->
    </div><!-- data-controller -->
  <% end %>

  <!-- work preferences dropdown -->
  <div data-controller="toggle" data-toggle-visibility-class="hidden">
    <button type="button" data-action="toggle#toggle" aria-expanded="false">
      <span><%= t(".work_preference.title") %></span>
      <%= inline_svg_tag "icons/solid/chevron_down.svg" %>
    </button>

    <!-- work preferences checkboxes -->
    <div data-toggle-target="element">
      <%= form.collection_check_boxes(:role_types, role_types, :first, :last, {include_hidden: false}) do |b| %><!-- begin role_types -->
        <%= b.check_box checked: role_type_selected?(b.object) %>
        <%= b.label %>
      <% end %><!-- end role_types -->

      <hr>

      <!-- devs not interested checkbox -->
      <div>
        <%= form.check_box :include_not_interested, include_hidden: false, checked: include_not_interested? %><!-- begin include_not_interested -->
        <%= form.label :include_not_interested, t(".include_not_interested") %>
      </div>

      <!-- work preferences/not intersted apply button -->
      <button type="submit" name="sort" value="<%= sort %>">
        <%= t(".apply") %>
      </button>

    </div><!-- data-toggle -->
  </div><!-- data-controller --><!-- work preferences -->

  <!-- timezone toggle -->
  <div data-controller="toggle" data-toggle-visibility-class="hidden" id="desktop-timezone-filters">
    <button type="button" data-action="toggle#toggle" aria-expanded="false">
      <span><%= t(".timezone.title") %></span>
      <%= inline_svg_tag "icons/solid/chevron_down.svg" %>
    </button>

    <!-- timezone checkbox -->
    <div data-toggle-target="element">
      <%= form.collection_check_boxes(:utc_offsets, time_zones, :first, :last, {include_hidden: false}) do |b| %>
        <%= b.check_box checked: time_zone_selected?(b.object) %>
        <%= b.label %>
      <% end %>

      <!-- timezone apply -->
      <button type="submit" name="sort" value="<%= sort %>">
        <%= t(".apply") %>
      </button>
    </div><!-- data-toggle-target -->
  </div><!-- data-controller --><!-- timezone -->

  <!-- sort filter for this form lives in component sort_button_component and is passed the id of this form as a form attribute -->
<% end %><!-- end of desktop form_with -->

