<h3 class="sr-only"><%= t(".title") %></h3>
<!-- desktop form -->
<div class="px-4 sm:px-6">
  <%= form_with url: developers_path, id: 'quedev', method: :get do |form| %>

    <!-- search feature (sort dropdown by newest or availibilty is in: 
      DeveloperQueryComponentSort. link by form attribute) -->
    <% if Feature.enabled?(:search_feature, user: @user) %>
      <!-- search bar -->
      <div class="py-4 group inline-flex items-center justify-center text-sm font-bold text-gray-700 hover:text-gray-900"><%= form.label :search_query, t(".search_query_label") %></div>
      <%= form.text_field :search_query, value: search_query, placeholder: t(".search_query_placeholder"), class: "rounded-lg text-sm w-full" %>
    <% else %>
      <!-- sort dropdown (won't show because feature is enabled) -->
      <div data-controller="toggle" data-toggle-visibility-class="hidden" id="sort">
        <div>
          <button type="button" data-action="toggle#toggle" aria-expanded="false" aria-haspopup="true">
            <%= t(".sort.title") %>
            <%= inline_svg_tag "icons/solid/chevron_down.svg" %>
          </button>
        </div>

        <div data-toggle-target="element" role="menu" aria-orientation="vertical" aria-labelledby="mobile-menu-button" tabindex="-1">
          <div role="none">
            <%= render SortButtonComponent.new(title: t(".sort.newest"), name: :sort, value: :newest, enabled: sort == :newest) %>
            <%= render SortButtonComponent.new(title: t(".sort.availibility"), name: :sort, value: :availability, enabled: sort == :availibility) %>
          </div>
        </div><!-- data-toggle-target -->
      </div><!-- data-controller -->
    <% end %>

    <!-- role level filters -->
    <% if Feature.enabled?(:role_level_filters, user: @user) %>
      <div data-controller="toggle" data-toggle-visibility-class="hidden">
        <!-- role dropdown -->
        <div class="py-2">
          <button type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" data-action="toggle#toggle" aria-expanded="false">
            <span class="font-medium"><%= t(".role_level.title") %></span>
            <%= inline_svg_tag "icons/solid/chevron_down.svg" %>
          </button>
        </div>

        <!-- role checkbox -->
        <div data-toggle-target="element">
          <div>
            <%= form.collection_check_boxes(:role_levels, role_levels, :first, :last, {include_hidden: false}) do |b| %>
              <!-- begin checkboxes -->
              <div class="flex pb-2">
                <%= b.check_box checked: role_level_selected?(b.object), class: 'h-4 w-4 border-gray-300 rounded text-gray-600 focus:ring-gray-500' %>
                <%= b.label class: 'ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap' %>
              </div>
              <!-- end checkboxes -->
            <% end %>
          </div>

        </div><!-- data-toggle-target -->
      </div><!-- data-controller -->
    <% end %>

    <!-- work preferences -->
    <div data-controller="toggle" data-toggle-visibility-class="hidden">
      <!-- work preferences dropdown -->
      <div class="py-2">
        <button type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" data-action="toggle#toggle" aria-expanded="false">
          <span class="font-medium"><%= t(".work_preference.title") %></span>
          <%= inline_svg_tag "icons/solid/chevron_down.svg" %>
        </button>
      </div>

      <!-- work preferences checkboxes -->
      <div data-toggle-target="element">
        <%= form.collection_check_boxes(:role_types, role_types, :first, :last, {include_hidden: false}) do |b| %>
          <!-- begin role types -->
          <div class="flex pb-2">
            <%= b.check_box checked: role_type_selected?(b.object), class: 'h-4 w-4 border-gray-300 rounded text-gray-600 focus:ring-gray-500' %>
            <%= b.label class: "ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap" %>
          </div>
        <!-- end role_types -->
        <% end %>

        <hr>

        <!-- devs not interested checkbox -->
        <div>
          <%= form.check_box :include_not_interested, include_hidden: false, checked: include_not_interested?, class: "h-4 w-4 border-gray-300 rounded text-gray-600 focus:ring-gray-500" %><!-- begin include_not_interested -->
          <%= form.label :include_not_interested, t(".include_not_interested") %>
        </div>

      </div><!-- data-toggle -->
    </div><!-- data-controller --><!-- work preferences -->

    <!-- timezone toggle -->
    <div data-controller="toggle" data-toggle-visibility-class="hidden" id="desktop-timezone-filters">
      <div class="py-2">
        <button type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" data-action="toggle#toggle" aria-expanded="false">
          <span class="font-medium"><%= t(".timezone.title") %></span>
          <%= inline_svg_tag "icons/solid/chevron_down.svg" %>
        </button>
      </div>

      <!-- timezone checkbox -->
      <div data-toggle-target="element" class="hidden">
        <%= form.collection_check_boxes(:utc_offsets, time_zones, :first, :last, {include_hidden: false}) do |b| %>
          <!-- begin checkboxes -->
          <div class="flex pb-2">
            <%= b.check_box checked: time_zone_selected?(b.object), class: 'h-4 w-4 border-gray-300 rounded text-gray-600 focus:ring-gray-500' %>
            <%= b.label class: 'ml-3 pr-6 text-sm font-medium text-gray-900 whitespace-nowrap' %>
          </div>
          <!-- end checkboxes -->
        <% end %>

      </div><!-- data-toggle-target -->
    </div><!-- data-controller --><!-- timezone -->
    
    <a href="/developers" class="inline-flex justify-center py-2 px-4 border bg-gray-200 border-bg-gray-600 shadow-sm text-sm font-medium rounded-md text-gray-600 bg-gray-600 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
      Clear
    </a>

    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" name="sort" value="<%= sort %>">
      <%= t(".apply") %>
    </button>

    <!-- sort filter for this form lives in component sort_button_component and is passed the id of this form as a form attribute -->
  <% end %><!-- end of desktop form_with -->
  <!-- render mobile filters here -->

</div>

