<div class="p-4 sm:py-8 sm:px-16">
  <%= link_to pricing_path, class: "block group bg-gray-50 w-full border-2 border-gray-300 hover:border-gray-400 border-dashed rounded-lg py-6 sm:py-8 px-4 sm:px-10 text-center" do %>
    <%= inline_svg_tag "icons/outline/lock_closed.svg", class: "mx-auto h-8 w-8 sm:h-10 h-8 w-8 sm:w-10 text-gray-400 group-hover:hidden", aria_hidden: true %>
    <%= inline_svg_tag "icons/outline/lock_open.svg", class: "mx-auto h-8 w-8 sm:h-10 sm:w-10 text-gray-600 rotate-[-8deg] transition hidden group-hover:block", aria_hidden: true %>
    <span class="block mt-4 sm:text-lg font-medium text-gray-600"><%= t("subscription_cta_component.title") %></span>
    <span class="block mt-2 text-sm sm:text-base text-gray-500"><%= t("subscription_cta_component.description", developers: developers) %></span>
  <% end %>
</div>
