<p>Hey <%= @developer.first_name %>,</p>
<p>Joe, solo-founder of <%= link_to "railsdevs", root_url %> here. It looks like your developer profile hasn't been updated in a while. Is everything still accurate?</p>
<p>If not, you can <%= link_to "update your profile", notification_url(@notification.record) %>. Or, if you've found a gig and are no longer looking let me know by replying to this email!</p>
<%= render "shared/signature" %>
<p><small><%= link_to "Update my email notification settings", edit_developer_url(@developer, anchor: "notifications") %>.</small></p>
