<p>Hey <%= @developer.first_name %>,</p>
<p>Joe, founder of <%= link_to "RailsDevs", root_url %> here. Your developer profile is no longer active as it hasn't been updated in a while.</p>
<p>Please <%= link_to "update your seach status", notification_url(@notification.record) %>. to make yourself available for work again</p>
<%= render "shared/signature" %>
<p><small><%= link_to "Update my email notification settings", edit_developer_url(@developer, anchor: "notifications") %>.</small></p>
