<div class="text-center">
  <%= inline_svg_tag "icons/outline/inbox.svg", class: "mx-auto h-12 w-12 text-gray-400" %>
  <h3 class="mt-2 text-sm font-medium text-gray-900"><%= t(".title") %></h3>
  <p class="mt-1 text-sm text-gray-500"><%= t(".body") %></p>
  <div class="mt-6">
    <%= link_to developers_path, class: "inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
      <%= inline_svg_tag "icons/solid/search.svg", class: "-ml-1 mr-2 h-5 w-5" %>
      <%= t(".cta") %>
    <% end %>
  </div>
</div>
