<div id=<%= dom_id prompt_response %> class="relative rounded-lg border border-gray-300 bg-white h-96 mt-8 px-6 pt-5 shadow-sm flex flex-col items-stretch justify-between">
  <div class="flex-1 min-w-0">
    <%= tag.h3 prompt_response.prompt.name, class: "font-medium" %>
    <%= tag.p prompt_response.content, class: "mt-2 text-sm text-gray-700" %>
  </div>
  <% if policy(prompt_response).update? && policy(prompt_response).destroy? %>
    <div class="flex divide-x divide-gray-200">
      <div class="w-0 flex-1 flex">
        <%= link_to edit_prompt_response_path(prompt_response), data: {"turbo-frame": "response-form"}, class: "relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm text-gray-700 font-medium border border-transparent rounded-bl-lg hover:text-gray-500" do %>
          <%= inline_svg_tag "icons/solid/pencil", class: "text-gray-700" %>
          <span class="ml-3">Edit</span>
        <% end %>
      </div>
      <div class="w-0 flex-1 flex">
        <%= form_with url: prompt_response_path(prompt_response), method: :delete, data: {"turbo-confirm": "Are you sure you'd like to delete this response?"}, class: "relative w-0 flex-1 border border-transparent rounded-br-lg hover:text-gray-500" do |f| %>
          <%= f.button type: "submit", class: "inline-flex w-full items-center justify-center py-4 text-sm text-gray-700 font-medium" do %>
            <%= inline_svg_tag "icons/solid/trash", class: "text-gray-700" %>
            <span class="ml-3">Delete</span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
