<div class="py-24 px-6 sm:px-6 sm:py-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900"><%= t(".title") %></h2>
    <p class="mx-auto mt-6 max-w-xl text-lg leading-7 text-gray-600"><%= t(".description") %></p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
      <%= link_to t(".cta"), "mailto:#{Rails.configuration.emails.support}", class: "rounded-md bg-gray-600 px-3.5 py-1.5 text-base font-semibold leading-7 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600" %>
      <%= link_to hiring_agreement_terms_path, class: "text-base font-semibold leading-7 text-gray-900" do %>
        <%= t(".learn_more") %> <span aria-hidden="true">→</span>
      <% end %>
    </div>
  </div>
</div>
