<div class="mt-8 flex flex-col">
  <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"><%= t(".business") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t(".developer") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t(".started") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t(".replied") %>?</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t(".email") %></th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                <span class="sr-only"><%= t(".view") %></span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% query.records.each do |conversation| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                  <%= link_to "#{conversation.business.company} (#{conversation.business.contact_name})", admin_business_conversations_path(conversation.business), class: "hover:underline" %>
                </td>

                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= link_to conversation.developer.name, admin_developer_conversations_path(conversation.developer), class: "hover:underline" %>
                </td>

                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= time_tag conversation.created_at, "#{time_ago_in_words(conversation.created_at)} ago", title: conversation.created_at.to_formatted_s(:long) %>
                </td>

                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <% if query.replied_to_conversation_ids.include?(conversation.id) %>
                    <span class="sr-only"><%= t(".replied") %></span>
                    <%= inline_svg_tag "icons/outline/check.svg", class: "w-4 h-4 text-gray-800" %>
                  <% else %>
                    <span class="sr-only"><%= t(".no_response") %></span>
                  <% end %>
                </td>

                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <% if query.potential_email_conversation_ids.include?(conversation.id) %>
                    <span class="sr-only"><%= t(".potential_email") %></span>
                    <%= inline_svg_tag "icons/outline/check.svg", class: "w-4 h-4 text-gray-800" %>
                  <% else %>
                    <span class="sr-only"><%= t(".no_potential_email") %></span>
                  <% end %>
                </td>

                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <%= link_to t(".view"), conversation_path(conversation), class: "text-blue-600 hover:text-blue-900" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
