<div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
  <% if conversations? %>
    <div class="text-white px-2 relative">
      <%= link_to conversations_path, class: "flex-shrink-0 text-gray-300 rounded-full hover:text-white group" do %>
        <%= inline_svg_tag "icons/outline/mail.svg", class: "mx-auto h-6 w-6" %>
        <span class="sr-only"><%= t(".view_conversations") %></span>
      <% end %>
    </div>
  <% end %>

  <div class="text-white px-2 relative">
    <%= link_to notifications_path, class: "flex-shrink-0 text-gray-300 rounded-full hover:text-white group" do %>
      <%= inline_svg_tag "icons/outline/bell.svg", class: "mx-auto h-6 w-6" %>
      <span class="sr-only"><%= t(".view_notifications") %></span>

      <% if unread_notifications? %>
        <span class="absolute top-1 right-2 block h-2 w-2 rounded-full ring-2 ring-gray-300 group-hover:ring-white bg-red-400"></span>
        <span class="sr-only"><%= t(".new_notifications") %></span>
      <% end %>
    <% end %>
  </div>

  <div data-controller="toggle" data-toggle-close-class="hidden" class="ml-3 relative">
    <div>
      <button type="button" data-action="toggle#toggle" class="bg-gray-800 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
        <span class="sr-only"><%= t(".open_user_menu") %></span>
        <%= render AvatarComponent.new(avatarable: user.business || user.developer, classes: "h-8 w-8") %>
      </button>
    </div>

    <div data-toggle-target="element" class="hidden origin-top-right absolute right-0 z-20 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
      <%= render UserMenu::MenuItemComponent.new(t(".get_started"), new_role_path, condition: neither?) %>
      <%= render UserMenu::MenuItemComponent.new(t(".my_business_profile"), new_business_path, condition: business?) %>
      <% if developer? %>
        <%= render UserMenu::MenuItemComponent.new(t(".my_developer_profile"), developer_path(user.developer)) %>
      <% end %>
      <%= render UserMenu::MenuItemComponent.new(t(".my_conversations"), conversations_path, condition: conversations?) %>
      <%= render UserMenu::MenuItemComponent.new(t(".billing"), stripe_portal_path, condition: customer?) %>
      <% if admin? %>
        <div class="border-y border-gray-200 py-1">
          <span class="block mx-4 text-xs uppercase font-medium py-2"><%= t(".admin") %></span>
          <%= render UserMenu::MenuItemComponent.new(t(".transactions"), admin_transactions_path) %>
          <%= render UserMenu::MenuItemComponent.new(t(".conversations"), admin_conversations_path) %>
          <%= render UserMenu::MenuItemComponent.new(t(".blocked_conversations"), admin_conversations_blocks_path) %>
        </div>
      <% end %>

      <%= button_to t(".sign_out"), destroy_user_session_path, method: :delete, role: "menuitem", tabindex: "-1", data: {turbo: false}, class: "bg-transparent block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer w-full text-left" %>
    </div>
  </div>
</div>
