<h2 class="text-sm font-medium text-gray-500"><%= t(".title") %></h2>

<dl class="flex items-baseline space-x-1">
  <dd class="text-2xl font-semibold tracking-tight text-gray-900"><%= developer.search_score %></dd>
  <dt class="truncate text-sm font-medium text-gray-500">search score</dt>
</dl>

<span class="relative z-0 inline-flex shadow-sm rounded-md">
  <%= tag.div data: {controller: "clipboard", clipboard_visibility_class: "hidden", clipboard_content_value: "#{developer.hero} #{developer_url(developer)}", clipboard_html_content_value: link_to(developer.hero, developer_url(developer))} do %>
    <button data-action="clipboard#copy clipboard#toggle" type="button" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-gray-500 focus:border-gray-500">
      <%= inline_svg_tag "icons/solid/document-duplicate.svg", class: "-ml-1 mr-2 h-5 w-5 text-gray-400", data: {clipboard_target: "toggleable"}, aria_hidden: true %>
      <%= inline_svg_tag "icons/solid/check.svg", class: "-ml-1 mr-2 h-5 w-5 text-gray-400 hidden", data: {clipboard_target: "toggleable"}, aria_hidden: true %>
      <%= t(".copy") %>
    </button>
  <% end %>

  <%= button_to admin_developer_invisiblizes_path(developer), method: :post, rel: "nofollow", class: "-ml-px relative inline-flex items-center px-3 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-gray-500 focus:border-gray-500", form: {data: {turbo_confirm: "Mark this developer as invisible and notify them via email?"}} do %>
    <%= inline_svg_tag "icons/solid/eye_off.svg", class: "-ml-1 mr-2 h-5 w-5 text-gray-400", aria_hidden: true %>
    <%= t(".invisiblize") %>
  <% end %>

  <%= button_to admin_developer_features_path(developer), method: :post, rel: "nofollow", class: "-ml-px relative inline-flex items-center px-3 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-gray-500 focus:border-gray-500" do %>
    <%= inline_svg_tag "icons/solid/star.svg", class: "-ml-1 mr-2 h-5 w-5 text-gray-400", aria_hidden: true %>
    <%= t(".feature") %>
  <% end %>
</span>

<%= link_to admin_developer_conversations_path(developer), class: "relative inline-flex items-center px-2 py-2 bg-white text-sm font-medium text-gray-900 hover:underline" do %>
 <%= inline_svg_tag "icons/solid/chat_bubble_left_right.svg", class: "-ml-1 mr-2 h-5 w-5 text-gray-400", aria_hidden: true %>
    <%= t(".conversations") %>
<% end %>

<%= render ToggleComponent.new(developer.source_contributor?, title: t(".source_contributor"), url: admin_developer_source_contributors_path(developer)) %>
