<div class="mt-4 flex space-x-3 md:mt-0 shrink-0">
  <% if update_profile? %>
    <%= link_to edit_developer_path(user.developer), class: "inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
      <%= inline_svg_tag "icons/solid/pencil.svg", class: "-ml-1 mr-2 h-5 w-5" %>
      <%= t(".edit_profile") %>
    <% end %>
  <% else %>
    <%= link_to new_developer_path, class: "inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
      <%= inline_svg_tag "icons/solid/plus_circle.svg", class: "-ml-1 mr-2 h-5 w-5" %>
      <%= t(".add_profile") %>
    <% end %>
  <% end %>
</div>
