<p>Hey <%= @business.first_name %>,</p>
<p>It’s Joe again, the founder of RailsDevs. Your subscription is live and you can now message all <%= @developer_count %>+ Rails developers on the platform.</p>

<p>Get started by adding a filter or two when <%= link_to "browsing developer profiles", developers_url %>. Start with role level and work preference then try adding a specific term or technology.</p>

<p>When you see a good fit click the Hire button. Your message goes right to their email inbox.</p>

<p>Hit reply or <%= link_to "schedule a call", "https://savvycal.com/joemasilotti/RailsDevs" %> if you’d like help narrowing down your search!</p>

<p>And thank you for your support in my bootstrapped, independent business.</p>

<%= render "shared/signature" %>

<p>P.S. Where did you first hear about RailsDevs?</p>
