<div data-toggle-target="element" class="hidden absolute z-20 top-0 inset-x-0 p-2 md:w-screen md:max-w-sm md:right-9 md:top-11 md:left-auto">
  <div class="rounded-lg shadow-md bg-gray-50 p-3 ring-1 ring-black ring-opacity-5 overflow-hidden">
    <div class="md:hidden mb-2 flex items-center justify-between">
      <button data-action="toggle#toggle" class="ml-auto rounded-md p-2 inline-flex items-center justify-content text-gray-600 hover:text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-700">
        <span class="sr-only"><%= t(".close") %></span>
        <%= inline_svg_tag "icons/outline/x.svg", class: "h-6 w-6" %>
      </button>
    </div>

    <div class="max-h-[50vh] overflow-y-auto">
      <%= turbo_frame_tag "notifications", loading: :lazy, src: notifications_path, target: "_top" do %>
        <div class="mt-3">
          <%= render LoadingComponent.new %>
        </div>
      <% end %>
    </div>

    <div class="flex items-center justify-center w-full text-sm mt-5 text-gray-500">
      <%= link_to notifications_path, class: "block ml-auto hover:text-gray-700 hover:underline" do %>
        <%= t(".all") %> <span aria-hidden="true">&rarr;</span>
      <% end %>
    </div>
  </div>
</div>
