<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8">
  <% if @notifications.any? %>
    <h1 class="mt-6 text-center text-3xl font-extrabold mb-5"><%= t(".title") %></h1>
    <div class="text-center">
      <%= button_to t(".mark_all_as_read"), read_notifications_path, class: "py-2 px-3 border border-gray-300 rounded-md bg-white cursor-pointer shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
    </div>
    <%= render PagyPaginatorComponent.new(id: "notifications", pagy: @pagy, url_array: [:notifications]) do |component| %>
      <% component.loading_icon do %>
        <%= render LoadingComponent.new %>
      <% end %>
      <%= render @notifications %>
    <% end %>
  <% else %>
    <div class="mt-8">
      <%= render EmptyStateComponent.new(title: t(".empty_state.title"), body: t(".empty_state.body"), icon: "icons/outline/bell.svg") %>
    </div>
  <% end %>

  <div class="mt-6 mx-auto">
    <% if @read_notifications.any? %>
      <%= link_to read_notifications_path, class: "inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
        <%= inline_svg_tag "icons/solid/search.svg", class: "-ml-1 mr-2 h-5 w-5" %>
        <%= t(".cta") %>
      <% end %>
    <% end %>
  </div>
</div>
