<%= render "shared/error_messages", resource: @signature %>

<div class="min-h-full flex flex-col justify-center sm:px-6 lg:px-8">
  <div class="mx-auto mt-8">
    <div class="px-0 sm:px-6 lg:px-8">
      <div class="mt-8 sm:px-6">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 sm:px-6 flex">
            <div class="flex-grow">
              <h3 class="text-lg leading-6 font-medium text-gray-900"><%= t(".title") %></h3>
              <p class="mt-1 text-sm text-gray-500"><%= t(".description", last_updated: @signature.term.created_at.to_formatted_s(:calendar)) %></p>
            </div>
          </div>

          <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <div class="prose-sm max-w-prose">
              <%= simple_format @signature.term.body %>
            </div>
          </div>

          <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
            <div class="prose-sm max-w-prose">
              <%= button_to t(".sign_via_docusign"), "/auth/docusign", data: {turbo: false}, class: "w-full inline-flex justify-center align-center py-3 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-sky-600 cursor-pointer disabled:cursor-not-allowed enabled:hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-600" %>
            </div>
          </div>
        </div>

        <p class="mt-8 px-6 prose"><%= t(".questions_html") %></p>
      </div>
    </div>
  </div>
</div>
