<%= tag.footer class: {"bg-teal-lightest": Feature.enabled?(:redesign)} do %>
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="mb-6 -mx-5 -mt-2 flex flex-wrap justify-center" aria-label="Language links">
      <% I18n.available_locales.each do |locale| %>
        <div class="px-5 py-2">
          <%= render FooterLinkComponent.new(link: request.params.merge(locale: resolve_locale(locale)), "aria-label": t(".language_name_of_locale", locale: locale)) do %>
            <span><%= t(".language_name_of_locale", locale: locale) %></span>
          <% end %>
        </div>
      <% end %>
    </nav>

    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= render FooterLinkComponent.new(link: about_path) do %>
          <%= t(".about") %>
        <% end %>
      </div>

      <div class="px-5 py-2">
        <%= render FooterLinkComponent.new(link: "mailto:joe@railsdevs.com") do %>
          <%= t(".support") %>
        <% end %>
      </div>

      <div class="px-5 py-2">
        <%= render FooterLinkComponent.new(link: "https://github.com/joemasilotti/railsdevs.com", external: true) do %>
          <%= t(".open_source") %>
        <% end %>
      </div>

      <div class="px-5 py-2">
        <%= render FooterLinkComponent.new(link: open_startup_root_path) do %>
          <%= t(".open_startup") %>
        <% end %>
      </div>

      <div class="px-5 py-2">
        <%= render FooterLinkComponent.new(link: "https://app.usefathom.com/share/cacnfaan/railsdevs.com", external: true) do %>
          <%= t(".analytics") %>
        <% end %>
      </div>
    </nav>

    <nav class="-mx-5 mt-6 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <%= render FooterLinkComponent.new(link: policies_privacy_path) do %>
          <%= t(".privacy_policy") %>
        <% end %>
      </div>

      <div class="px-5 py-2">
        <%= render FooterLinkComponent.new(link: policies_terms_path) do %>
          <%= t(".terms_and_conditions") %>
        <% end %>
      </div>
    </nav>

    <div class="mt-8 flex justify-center space-x-6">
      <%= render FooterLinkComponent.new(link: "https://twitter.com/joemasilotti", external: true) do %>
        <span class="sr-only"><%= t(".twitter") %></span>
        <%= inline_svg_tag "icons/brands/twitter.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>

      <%= render FooterLinkComponent.new(link: "https://github.com/joemasilotti", external: true) do %>
        <span class="sr-only"><%= t(".github") %></span>
        <%= inline_svg_tag "icons/brands/github.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>

      <%= render FooterLinkComponent.new(link: "mailto:joe@railsdevs.com") do %>
        <span class="sr-only"><%= t(".email") %></span>
        <%= inline_svg_tag "icons/outline/mail.svg", class: "h-6 w-6", aria_hidden: true %>
      <% end %>
    </div>

    <%= tag.p class: ["mt-8 text-center text-base", "text-gray-400": !Feature.enabled?(:redesign)] do %>
      &copy; <%= Date.today.year %> <%= render(FooterLinkComponent.new(link: "https://masilotti.com", external: true)) { t(".masilotti_com") } %>. <%= t(".copyright") %>
    <% end %>
  </div>
<% end %>
