<div class="bg-gray-800 pb-32">
  <header class="py-10">
    <div class="flex items-baseline max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-white">
        <%= link_to root_path, class: "hover:text-gray-300" do %>
          Rails Devs
        <% end %>
      </h1>

      <div class="flex ml-auto text-gray-200 space-x-4">
        <% if current_user&.developer&.persisted? %>
          <%= link_to "Edit my profile", edit_developer_path(current_user.developer), class: "block hover:text-gray-300" %>
        <% else %>
          <%= link_to "Add my profile", new_developer_path, class: "block hover:text-gray-300" %>
        <% end %>

        <% if signed_in? %>
          <%= button_to destroy_user_session_path, method: :delete, title: "Sign out", class: "block text-gray-200 bg-transparent cursor-pointer" do %>
            <%= inline_svg_tag "icons/outline/logout.svg", class: "w-6 h-6 hover:text-gray-300" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </header>
</div>
