<nav data-controller="toggle" data-toggle-close-class="hidden" class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center h-16">
      <div class="flex items-center sm:hidden">
        <button type="button" data-action="toggle#toggle" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only"><%= t(".open_main_menu") %></span>
          <%= inline_svg_tag "icons/outline/menu.svg", class: "block h-6 w-6" %>
          <%= inline_svg_tag "icons/outline/x.svg", class: "hidden h-6 w-6" %>
        </button>
      </div>

      <div class="flex-1 flex items-center justify-start ml-2 md:ml-0">
        <%= link_to root_path, class: "shrink-0 flex items-center text-gray-300 fill-current" do %>
          <span class="sr-only">railsdevs</span>
          <%= inline_svg_tag "logo.svg", class: "h-10 w-auto", alt: "railsdevs logo" %>
        <% end %>

        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <%= render "shared/nav_links" %>
          </div>
        </div>
      </div>

      <div data-controller="toggle" data-toggle-close-class="hidden">
        <%= render UserMenu::BaseComponent.new(current_user) %>
        <div data-toggle-target="element" class="hidden absolute z-10 top-0 inset-x-0 p-2 md:w-screen md:max-w-sm md:right-9 md:top-11 md:left-auto">
          <div class="rounded-lg shadow-md bg-white ring-1 ring-black ring-opacity-5 overflow-hidden">
            <div class="px-5 py-2 flex items-center justify-end border-b border-gray-200">
              <button data-action="toggle#toggle" class="bg-white rounded-md p-2 inline-flex items-center justify-content text-gray-600 hover:text-gray-700 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-gray-700">
                <span class="sr-only">Close menu</span>
                <%= inline_svg_tag "icons/outline/x.svg", class: "h-6 w-6" %>
              </button>
            </div>
            <div class="max-h-[50vh] px-2 pt-1 bg-gray-100 overflow-y-auto shadow-inner">
              <%= turbo_frame_tag "notifications", loading: :lazy, src: notifications_path, target: "_top" do %>
                <%= render LoadingComponent.new %>
              <% end %>
            </div>
            <div class="flex items-center justify-between w-full px-5 py-3 text-center text-gray-500 bg-white border-t border-gray-200">
              <%= link_to t("notifications.index.full"), notifications_path, class: "hover:text-gray-700 hover:underline" %>
              <%= link_to t("notifications.index.cta"), read_notifications_path, class: "text-right hover:text-gray-700 hover:underline" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-toggle-target="element" class="hidden sm:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <%= render "shared/nav_links" %>
    </div>
  </div>
</nav>
