<div class="max-w-5xl mx-auto">
  <div class="pb-5 px-4 lg:px-0 sm:flex sm:items-center sm:justify-between">
    <h2 class="text-lg leading-6 font-medium text-gray-900">
      <%= t(".available_developers") %>
    </h2>
  </div>

  <div class="shadow overflow-hidden sm:rounded-md divide-y divide-gray-200">
    <%= render DeveloperCardComponent.with_collection(@developers) %>
  </div>

  <div class="mt-8 mb-16 text-right mr-2 lg:mr-0">
    <%= link_to developers_path, class: "inline-flex items-center px-6 py-3 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" do %>
      <%= t(".more") %>
      <%= inline_svg_tag "icons/outline/arrow_right_circle.svg", class: "ml-3 -mr-1 h-5 2-5" %>
    <% end %>
  </div>
</div>
