<div class="mx-auto py-24 px-4 max-w-5xl sm:px-6 lg:px-8 lg:py-36">
  <div class="grid grid-cols-1 gap-12">
    <div class="space-y-2">
      <h2 class="text-3xl font-extrabold tracking-tight"><%= t(".title") %></h2>
      <p class="text-lg text-gray-500"><%= t(".description") %></p>
    </div>
    <div class="lg:col-span-2">
      <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-12 sm:space-y-0 lg:gap-x-8">
        <% developers.each do |developer| %>
          <li>
            <div class="flex items-center space-x-4 lg:space-x-6">
              <%= image_tag "hired_developers/#{developer.img}", alt: developer.title, class: "w-16 h-16 rounded-full object-cover lg:w-20 lg:h-20" %>
              <div class="leading-6">
                <h3 class="font-medium text-lg"><%= developer.title %></h3>
                <p class="text-gray-500"><%= developer.description %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
