<%= open_graph_tags title: t(".title_og"), turbo_native_title: t(".turbo_native_title"), description: t(".description_og") %>

<div class="bg-navy">
  <%= render "hero" %>
</div>

<div class="max-w-6xl mx-auto my-32">
  <div class="pb-5 px-4 w-full">
    <h2 class="text-5xl tracking-tight text-typography font-heading font-bold text-center">
      <%= t(".reviews_header") %>
    </h2>
    <p class="text-typography leading-10 text-center leading-8 mt-5">
      <%= tag.span(t(".reviews_subtitle_1"), class: "block") %>
      <%= tag.span(t(".reviews_subtitle_2"), class: "block") %>
    </p>
  </div>
  <div class="flex space-y-12 items-center items-stretch space-y-0 space-x-12 px-8 mt-20">
    <div class="flex flex-col w-full">
      <div class="flex-grow border-2 p-12 border-green">
        <div class="flex">
          <% 5.times do %>
            <span>
              <%= inline_svg_tag "icons/solid/star.svg", class: "text-teal h-6 w-6", aria_hidden: true %>
            </span>
          <% end %>
          <span class="sr-only">5 star rating</span>
        </div>
        <p class="mt-4 mx-1 text-sm text-typography leading-relaxed font-light">
          Switching jobs and overcoming the period between contracts was extremely painful. <span class="font-bold">railsdevs.com is precisely what I needed</span>. Now companies come to me instead of me chasing the work. I am incredibly grateful Joe did such a favor to the Rails community and built this platform.
        </p>
      </div>
      <div class="relative flex flex-col justify-center mt-4 pl-[184px] h-16 w-full bg-teal-lightest">
        <div class="absolute left-12 -bottom-2 h-28 w-28 bg-gray-300 rounded-lg">
          <%# Image placeholder %>
        </div>
        <dl>
          <dt class="text-sm text-typography font-bold">
            Dusan
          </dt>
          <dd class="text-sm text-typography">
            Freelancer
          </dd>
        </dl>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <div class="flex-grow border-2 p-12 border-green">
        <div class="flex">
          <% 5.times do %>
            <span>
              <%= inline_svg_tag "icons/solid/star.svg", class: "text-teal h-6 w-6", aria_hidden: true %>
            </span>
          <% end %>
          <span class="sr-only">5 star rating</span>
        </div>
        <p class="mt-4 mx-1 text-sm text-typography leading-relaxed font-light">
          During my search for my first dev job, out of all the many platforms and channels where I looked for work, railsdevs was the place where I had the <span class="font-bold">most human and friendly interactions with potential employers</span>. It was a breath of fresh air!
        </p>
      </div>
      <div class="relative flex flex-col justify-center mt-4 pl-[184px] h-16 w-full bg-teal-lightest">
        <div class="absolute left-12 -bottom-2 h-28 w-28 bg-gray-300 rounded-lg">
          <%# Image placeholder %>
        </div>
        <dl>
          <dt class="text-sm text-typography font-bold">
            Felipe Vogel
          </dt>
          <dd class="text-sm text-typography">
            Found First Dev Job
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>

<div class="bg-green-lightest pb-48 px-12 my-32">
  <div class="flex items-start justify-between items-center max-w-6xl mx-auto pt-[86px]">
    <h2 class="text-5xl tracking-tight text-typography font-heading font-bold">
      <%= t(".explain_title") %>
    </h2>
    <ul class="space-y-4 mt-6">
      <li class="flex items-center text-2xl">
        <%= inline_svg_tag "icons/solid/check_circle.svg", class: "text-green mr-4", aria_hidden: true %>
        <%= t(".explain_subtitle_1") %>
      </li>
      <li class="flex items-center text-2xl">
        <%= inline_svg_tag "icons/solid/check_circle.svg", class: "text-green mr-4", aria_hidden: true %>
        <%= t(".explain_subtitle_2") %>
      </li>
      <li class="flex items-center text-2xl">
        <%= inline_svg_tag "icons/solid/check_circle.svg", class: "text-green mr-4", aria_hidden: true %>
        <%= t(".explain_subtitle_3") %>
      </li>
    </ul>
  </div>
</div>
<%= render "image_collage" %>

<div class="max-w-6xl w-full mx-auto my-32">
  <h2 class="text-5xl tracking-tight text-typography font-heading font-bold text-center">
    <%= t(".about_title") %>
  </h2>
  <p class="mt-5 text-sm text-typography text-center leading-10">
    <%= tag.span(t(".about_subtitle_1"), class: "block") %>
    <%= tag.span(t(".about_subtitle_2"), class: "block") %>
  </p>
  <div class="flex items-stretch space-y-0 space-x-12 mt-20">
    <%= render Marketing::TextCardComponent.new(title: t(".about_card_1.title"), text: t(".about_card_1.content")) %>
    <%= render Marketing::TextCardComponent.new(title: t(".about_card_2.title"), text: t(".about_card_2.content")) %>
    <%= render Marketing::TextCardComponent.new(title: t(".about_card_3.title"), text: t(".about_card_3.content"), xl_title: true) %>
  </div>
</div>

<div class="w-full bg-navy my-24 pt-24 pb-80 my-32">
  <div class="relative flex justify-between items-center space-y-0 items-end space-y-4 max-w-6xl w-full mx-auto px-8 px-16">
    <h2 class="text-5xl tracking-tight text-white font-heading font-bold text-center">
      <%= t(".bottom_of_page_cta_1") %>
      <span class="text-teal"><%= t(".bottom_of_page_cta_2") %></span>
      <%= t(".bottom_of_page_cta_3") %>
    </h2>
    <%= link_to new_role_path, class: "relative inline-flex items-center px-10 py-4 font-heading font-bold text-typography text-lg bg-green rounded-full font-bold hover:bg-green-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-navy focus:ring-white" do %>
      <%= t(".get_started") %>
      <%= inline_svg_tag "icons/solid/arrow_long_right.svg", class: "text-typography ml-3 -mr-1 h-6 w-6", aria_hidden: true %>
    <% end %>

    <div class="absolute bg-gray-300 inset-x-0 h-[28rem] top-48">
      <%# Image placeholder %>
    </div>
  </div>
</div>

<div class="w-full h-64"></div>
