<div data-controller="combobox">
  <%= form_with(
    url: specialties_path,
    method: :get,
    data: {
      turbo_frame: turbo_frame,
      controller: "forms--autosubmit",
      action: "invalid->forms--autosubmit#hideValidationMessage:capture input->forms--autosubmit#submit"
    }
  ) do |form| %>
    <%= form.hidden_field :turbo_frame, value: turbo_frame %>

    <%= form.label :query %>
    <%= form.text_field :query,
      type: "search",
      required: true,
      pattern: ".*\\w+.*",
      autocomplete: "off",
      data: {
        "combobox-target": "input",
        action: "focus->combobox#start focusout->combobox#stop"
      } %>

    <%= form.submit data: {"forms--autosubmit-target": "submit"} %>
  <% end %>

  <%= turbo_frame_tag turbo_frame %>
</div>
