<p><%= link_to "#{@business.contact_name} (#{@business.company})", business_url(@business) %> started a conversation with <%= link_to @developer.name, developer_url(@developer) %>:</p>

<%== html_truncate_message_body(@body) %>

<%= link_to "View conversation", notification_url(@notification.record) %>

<hr>

<% @subscriptions.each do |subscription| %>
  <ul>
    <li><b>Plan</b>: <%= Businesses::Plan.with_processor_plan(subscription.processor_plan).name %></li>
    <li><b>Status</b>: <%= subscription.status.humanize %></li>
    <li><b>Developer roles</b>: <%= @developer.role_type.humanize %></li>
  </ul>
<% end %>
