<p><b><%= @business.name %> (<%= @business.company %>)</b> started <%= link_to "a conversation with #{@developer.name}", notification_url(@notification) %>.</p>

<% @subscriptions.each do |subscription| %>
  <ul>
    <li><b>Plan</b>: <%= subscription.name.humanize %></li>
    <li><b>Status</b>: <%= subscription.status.humanize %></li>
    <li><b>Developer roles</b>: <%= @developer.role_type.humanize %></li>
  </ul>
<% end %>
