<div class="max-w-7xl mx-auto px-4 mt-16 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
    <div id="page-header" class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Developer Prompts</h2>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <%= turbo_frame_tag "new-action", target: "new-prompt" do %>
          <%= link_to t(".new_button.text"), new_admin_prompt_path, class: "group inline-flex justify-center align-center ml-3 py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 cursor-pointer hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
        <% end %>
      </div>
    </div>
    <%= turbo_frame_tag "new-prompt" do %>
      <% if @prompts.empty? %>
        <div id="empty-state" class="text-center mt-24">
          <%= tag.h3 t(".empty.title"), class: "mt-2 text-sm font-medium text-gray-900" %>
          <%= tag.p t(".empty.subtext"), class: "mt-1 text-sm text-gray-500" %>
          <div class="mt-6">
            <%= form_with url: new_admin_prompt_path, method: :get do |f| %>
              <%= render SubmitButtonComponent.new(text: t(".new_button.text"), disable_with: t(".new_button.disabled")) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
    <div>
      <div class="mt-12">
        <ul id="prompts" role="list" class="-my-5 divide-y divide-gray-200 bg-white rounded-lg shadow">
          <% @prompts.each do |prompt| %>
            <%= render prompt %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
