<div class="max-w-7xl mx-auto px-4 mt-16 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">Developer Prompts</h2>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <%= render SubmitButtonComponent.new(text: t(".new_button"), disable_with: "Loading...", button_classes: "ml-3") unless @prompts.empty? %>
      </div>
    </div>
    <% if @prompts.empty? %>
      <div id="empty-state" class="text-center mt-24">
        <%= tag.h3 t(".empty.title"), class: "mt-2 text-sm font-medium text-gray-900" %>
        <%= tag.p t(".empty.subtext"), class: "mt-1 text-sm text-gray-500" %>
        <div class="mt-6">
          <button type="button" class="group inline-flex justify-center items-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 cursor-pointer hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
            <%= inline_svg_tag "icons/solid/plus_circle.svg", class: "-ml-1 mr-2 h-5 w-5" %>
            <%= t(".new_button") %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
