<%= turbo_frame_tag "modal" do %>
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <%= form_with url: admin_developer_invisiblizes_path(@developer), data: {turbo_frame: "_top"}, class: "inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6" do |form| %>
        <div class="sm:flex sm:items-start">
          <div class="mx-auto shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-gray-100 sm:mx-0 sm:h-10 sm:w-10">
            <%= inline_svg_tag "icons/outline/exclamation.svg", class: "h-6 w-6 text-gray-600" %>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
              <%= t(".title") %>
            </h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500"><%= t(".message") %></p>
            </div>

            <div class="mt-8">
              <div class="space-y-6">
                <fieldset>
                  <legend class="text-sm font-medium text-gray-500">
                    Reason for invisiblizing:
                  </legend>

                  <div class="mt-4 space-y-4">
                    <% InvisibleProfile.all.each_with_index do |reason, index| %>
                      <div class="flex items-start">
                        <div class="h-5 flex items-center">
                          <%= form.radio_button :reason, reason.reason, checked: index == 0, class: "focus:ring-gray-500 h-4 w-4 text-gray-600 border-gray-300" %>
                        </div>
                        <div class="ml-3 text-sm">
                          <%= form.label :reason, reason.help_text, value: reason.reason, class: "font-medium text-gray-700" %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
          <%= button_tag t(".invisiblize"), type: :submit, class: "w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-gray-600 text-base font-medium text-white hover:bg-gray-700 hover:cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:ml-3 sm:w-auto sm:text-sm" %>
          <%= link_to t(".cancel"), developer_path(@developer), class: "mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 sm:mt-0 sm:w-auto sm:text-sm" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
