<%= form_with model: [:admin, transaction] do |form| %>
  <div class="bg-white shadow px-4 py-5 lg:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Details</h3>
      </div>

      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="space-y-6">
          <div class="sm:col-span-3">
            <%= form.label :occurred_on, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= form.date_field :occurred_on, class: field_classes(form, :occurred_on) %>
            </div>
          </div>

          <div class="col-span-6 sm:col-span-3">
            <%= form.label :transaction_type, class: "block text-sm font-medium text-gray-700" %>
            <%= form.select :transaction_type, OpenStartup::Transaction.transaction_types.keys.map { |w| [w.humanize, w] }, {}, {class: "mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm"} %>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= form.text_field :description, class: field_classes(form, :description) %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :url, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1">
              <%= form.text_field :url, class: field_classes(form, :url) %>
            </div>
          </div>

          <div class="sm:col-span-6">
            <%= form.label :amount, class: "block text-sm font-medium text-gray-700" %>
            <div class="mt-1 relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm">
                  $
                </span>
              </div>
              <%= form.number_field :amount, step: 0.01, class: field_classes(form, :amount, type: :text_field_leading) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-end mt-8 mb-16 mr-4 sm:mr-6 lg:mr-0">
    <%= render SubmitButtonComponent.new(text: "Save", disable_with: "Saving...", button_classes: "ml-3") %>
  </div>
<% end %>
