<section class="overflow-hidden max-w-5xl mx-auto">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <h1 class="py-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"><%= t(".title") %></h1>
    <p class='mb-8 text-gray-500'><%= t(".description_html") %></p>

    <div class="w-full overflow-x-auto mt-8">
      <h2 class="text-lg mb-2"><%= t(".overview") %></h2>
      <div class="shadow-lg overflow-hidden rounded-lg mb-8 ">
        <table class="w-full" id="financials-overview">
          <thead>
            <tr class="text-xs tracking-wide text-left text-gray-500 bg-gray-100 uppercase border-b border-gray-600">
              <th class="px-4 py-3 font-semibold"><%= t(".date") %></th>
              <th class="px-4 py-3 font-semibold"><%= t(".revenue") %></th>
              <th class="px-4 py-3 font-semibold"><%= t(".expenses") %></th>
              <th class="px-4 py-3 font-semibold"><%= t(".profit") %></th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% @report.overview.each do |item| %>
              <tr class="text-xs">
                <td class="px-4 py-3 border font-semibold"><%= item[:month] %></th>
                <td class="px-4 py-3 border text-gray-500"><%= number_to_currency(item[:revenue_total]) %></th>
                <td class="px-4 py-3 border text-gray-500"><%= number_to_currency(item[:expense_total]) %></th>
                <td class="px-4 py-3 border text-gray-500"><%= number_to_currency(item[:total]) %></th>
              </tr>
            <% end %>
            <tr class="text-xs font-semibold">
              <td colspan="3" class="px-4 py-3 border"></td>
              <td class="px-4 py-3 border"><%= number_to_currency(@report.total) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w-full overflow-x-auto mt-8">
      <h2 class="text-lg mb-2"><%= t(".expenses") %></h2>
      <div class="shadow-lg overflow-hidden rounded-lg mb-8 ">
        <table class="w-full" id="financials-expenses">
          <thead>
            <tr class="text-xs tracking-wide text-left text-gray-500 bg-gray-100 uppercase border-b border-gray-600">
              <% @report.expenses["headers"].each do |item| %>
                <th class="px-4 py-3 font-semibold"><%= t(".#{item}") %></th>
              <% end %>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% @report.expenses["data"].each do |item| %>
              <tr class="text-xs">
                <td class="px-4 py-3 border font-semibold"><%= l(item["date"].to_date, format: "%B %d, %Y") %></th>
                <td class="px-4 py-3 border text-gray-500"><%== item["description"] %></th>
                <td class="px-4 py-3 border text-gray-500"><%= number_to_currency(item["total"]) %></th>
              </tr>
            <% end %>
            <tr class="text-xs font-semibold">
              <td colspan="2" class="px-4 py-3 border"></td>
              <td class="px-4 py-3 border"><%= number_to_currency(@report.total_expenses) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w-full overflow-x-auto">
      <h2 class="text-lg mb-2"><%= t(".revenue") %></h2>

      <div class="shadow-lg overflow-hidden rounded-lg mb-8 ">
        <table class="w-full" id="financials-revenue">
          <thead>
            <tr class="text-xs tracking-wide text-left text-gray-500 bg-gray-100 uppercase border-b border-gray-600">
              <% @report.revenue["headers"].each do |item| %>
                <th class="px-4 py-3 font-semibold"><%= t(".#{item}") %></th>
              <% end %>
            </tr>
          </thead>
          <tbody class="bg-white">
            <% @report.revenue["data"].each do |item| %>
              <tr class="text-xs">
                <td class="px-4 py-3 border font-semibold"><%= l(item["date"].to_date, format: "%B %d, %Y") %></th>
                <td class="px-4 py-3 border text-gray-500"><%= item["source"] %></th>
                <td class="px-4 py-3 border text-gray-500"><%= number_to_currency(item["revenue"]) %></th>
                <td class="px-4 py-3 border text-gray-500"><%= number_to_currency(item["fees"]) %></th>
                <td class="px-4 py-3 border text-gray-500"><%= number_to_currency(item["contribution"]) %></th>
                <td class="px-4 py-3 border text-gray-500"><%= number_to_currency(item["total"]) %></th>
              </tr>
            <% end %>
            <tr class="text-xs font-semibold">
              <td colspan="5" class="px-4 py-3 border"></td>
              <td class="px-4 py-3 border"><%= number_to_currency(@report.total_revenue) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
