<%= open_graph_tags title: t(".title_og"), description: t(".description") %>

<div class="overflow-hidden max-w-5xl mx-auto">
  <div class="relative max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto text-base max-w-prose lg:grid lg:grid-cols-2 lg:gap-8 lg:max-w-none">
      <div>
        <h2 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"><%= t(".title") %></h2>
        <p class="text-base text-gray-400 font-semibold tracking-wide uppercase"><%= t(".readtime") %></p>
      </div>
    </div>

    <div class="mt-8 lg:grid lg:grid-cols-5 lg:gap-8">
      <div class="relative lg:row-start-1 lg:col-start-4 lg:col-span-2">
        <div class="relative text-base mx-auto max-w-prose lg:max-w-none">
          <figure>
            <div class="aspect-w-3 aspect-h-2 lg:aspect-none">
              <%= image_tag "joe.jpg", class: "rounded-lg shadow-lg object-cover object-top", alt: "Photo of Joe Masilotti" %>
            </div>
            <figcaption class="mt-3 text-center text-sm text-gray-500">
              <a href="https://masilotti.com" class="underline">Joe Masilotti</a>, <%= t(".caption_html") %>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="mt-8 lg:mt-0 lg:col-span-3">
        <div class="prose prose-lg prose-gray text-gray-500 max-w-prose mx-auto lg:max-w-none">
          <%= render MarkdownComponent.about_hero %>
        </div>

        <div class="mt-8 prose prose-gray text-gray-500 mx-auto lg:max-w-none lg:row-start-1 lg:col-start-1">
          <%= render MarkdownComponent.about_body %>
        </div>
      </div>
    </div>

    <% if turbo_native_app? %>
      <nav class="-mx-5 mt-12 flex flex-wrap justify-center">
        <div class="px-5 py-2">
          <%= link_to "Privacy policy", policies_privacy_path, class: "text-base text-gray-500 hover:text-gray-900" %>
        </div>

        <div class="px-5 py-2">
          <%= link_to "Terms and conditions", policies_terms_path, class: "text-base text-gray-500 hover:text-gray-900" %>
        </div>
      </nav>
    <% end %>
  </div>
</div>
