<% if render_content? %>
  <%= content %>
<% elsif small? %>
  <%= link_to pricing_path, class: "group flex items-center bg-gray-50 max-w-sm border border-gray-300 hover:border-gray-400 border-dashed rounded-lg mt-2 p-1.5 px-2.5" do %>
    <%= inline_svg_tag "icons/solid/lock_closed.svg", class: "h-4 w-4 text-gray-400 mr-2 group-hover:hidden" %>
    <%= inline_svg_tag "icons/solid/lock_open.svg", class: "h-4 w-4 text-gray-500 mr-2 rotate-[-8deg] transition hidden group-hover:block" %>
    <span class="block text-xs font-medium text-gray-600"><%= title %></span>
  <% end %>
<% elsif large? %>
  <div class="pt-4">
    <%= link_to pricing_path, class: "block group bg-gray-50 w-full border-2 border-gray-300 hover:border-gray-400 border-dashed rounded-lg py-6 px-10 text-center" do %>
      <%= inline_svg_tag "icons/outline/lock_closed.svg", class: "mx-auto h-8 w-8 text-gray-400 group-hover:hidden" %>
      <%= inline_svg_tag "icons/outline/lock_open.svg", class: "mx-auto h-8 w-8 text-gray-600 rotate-[-8deg] transition hidden group-hover:block" %>
      <span class="mt-2 block text-sm font-medium text-gray-600"><%= title %></span>
      <span class="mt-2 block text-sm text-gray-500"><%= description %></span>
    <% end %>
  </div>
<% end %>
