<p><%= @sender %> extended you <%= link_to "an offer", notification_url(@notification.record) %>:</p>

<blockquote>
  <p>Start date: <%= @offer.start_date %></p>
  <p>Pay rate: <%= @offer.pay_rate_value %>/<%= @offer.pay_rate_time_unit_key %></p>
  <p>Comment:</p>
  <p><%= @offer.presence || 'No comment' %></p>
</blockquote>
