<!DOCTYPE html>
<html class="h-full bg-gray-50">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>hirethePIVOT</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= open_graph_tags %>

    <!-- Favicon from Smashicons -->
    <%= favicon_link_tag asset_path("favicon.png"), rel: "icon", type: "image/x-icon" %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= analytics_tag %>
    <%= hotwire_livereload_tags %>
    <script>
      !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
      posthog.init('phc_L29nBaIfVTZCu2LVDULjvtrmyfwPdzVOENjGhRfjWRc',{api_host:'https://app.posthog.com'})
    </script>
  </head>

  <body class="min-h-full flex flex-col">
    <div class="flex-1">
      <%= render "shared/header" %>
      <%= render "shared/main" do %>
        <%= yield %>
      <% end %>
    </div>
    <%= render "shared/footer" %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
