<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full bg-gray-50" dir="<%= t("dir") %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Rails Devs</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= open_graph_tags %>
    <%= render "shared/favicon_tags" %>
    <%= render AlternateLinksComponent.new %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= analytics_tag %>
    <%= hotwire_livereload_tags %>
  </head>

  <body class="min-h-full flex flex-col">
    <div class="flex-1">
      <%= render "shared/header" %>
      <%= render "shared/main" do %>
        <%= yield %>
      <% end %>
    </div>
    <%= render "shared/footer" %>
    <%= turbo_frame_tag "modal" %>
    <%= render AnalyticsEventComponent.new(flash) %>
  </body>
</html>
